@model SAS.Models.hotel_room_info

@{
    ViewBag.Title = "Create";
    List<SAS.Models.hotel_room_info> roomList =ViewData["rooms"] as List<SAS.Models.hotel_room_info>;
    int hotel_id = 0;
    Dictionary<int, String> room_facilitys = ViewData["facilities"] as Dictionary<int, string>;
    int[] number = new int[] { 0, 1, 2, 3, 4, 8, 6, 7, 8, 9, 10 };
}

 @*   @Html.ValidationSummary(true)*@
@using(Html.BeginForm("Create","Room",FormMethod.Post)) {

<div id="flag_box">
	<a href="" class="btn_c">1 录入公寓信息</a>
	<a href="" class="btn_c set">2 录入房型</a>
	<a href="" class="btn_c">3 录入房价</a>
	<a href="" class="btn_c">4 录入图片</a>
</div>
<!-- 录入房型 -->
<div class="box_a">
	<div class="from_path">
		<h2>房型列表</h2>
		<table id="room_list" cellspacing="0">
			<tbody>
				<tr>
					<th>房型编号</th>
					<th>名称</th>
					<th>操作</th>
				</tr>
                @foreach (var item in roomList)
                {
				    <tr>
					    <td>@item.room_id</td>
					    <td>@item.h_r_bed_type</td>
					    <td><a href="">修改</a>|<a href="">删除</a></td>
				    </tr>
                }
			</tbody>
		</table>
	</div>
	<div class="from_path">
		<span class="btn_d set">添加房型</span>
        <div class="box_b">
    		<p class="input_line">
    			<label for="room_name"><span class="label">房型名称</span><input type="text" id="room_name" name="@Html.DisplayNameFor(model => model.h_r_name_cn)"><span class="col_red">*</span></label>
    			<label for="room_count">
    				<span class="label">数量</span>
    				<input type="text" id="room_count" name="@Html.DisplayNameFor(model => model.h_r_house_number)">
    				<span class="col_red">*</span>
    				<span>将会设置房量的默认值</span>
    			</label>
    			<label for="room_area">
    				<span class="label">面积</span>
    				<input type="text" id="room_area" name="@Html.DisplayNameFor(model => model.h_r_acreage)">
    				<span class="col_red">*</span>
    			</label>
    			<label for="room_floor">
    				<span class="label">楼层</span>
    				<input type="text" id="room_floor" name="@Html.DisplayNameFor(model => model.h_r_floor)">
    				<span class="cpl_red">*</span>
    			</label>
    		</p>
    		<p class="input_line">
    			<label for="bedroom">
    				<span class="label">户型</span></label>
                    <select name="???">
                        @foreach (var item in number)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
    				室
                    <select name="???">
                        @foreach (var item in number)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
    				厅
                    <select name="???">
                        @foreach (var item in number)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
    				卫
                    <select name="???">
                        @foreach (var item in number)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
    				书房
                <label for="people_number"><span class="label">宜住人数</span>
                    <select name="???">
                        @foreach (var item in number)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>              
                </label>
    		</p>
    		<div class="clear">
    			<div class="float_l">
    				<!-- <p class="input_line"> -->
    					<label for="room_info"><span class="label">房型描述</span></label>
    				<!-- </p> -->
    			</div>
    			<div class="float_l">
    				<p class="input_line">
    					<textarea name="@Html.DisplayNameFor(model => model.h_r_description_cn)" id="room_describ" cols="80" rows="5"></textarea>
    					<span class="col_red">*</span>
    				</p>
    			</div>
    		</div>
    		<div class="clear">
    			<div class="float_l">
    				<p class="input_line">
    					<label for="room_remarks"><span class="label">房型备注</span></label>
    				</p>
    			</div>
    			<div class="float_l">
    				<p class="input_line">
    					<input type="text" id="room_remarks" name="@Html.DisplayNameFor(model => model.Comments)">
    					<span class="col_red">*</span>
    				</p>
    			</div>
    		</div>
    		<div class="clear">
    			<div class="float_l">
    				<div class="input_line"><span class="label">房型设施</span></div>
    			</div>
    			<div class="float_l checkbox_box">
    				<p class="input_line">
                        <input type="text" class="hide" name="@Html.DisplayNameFor(model => model.house_service)">
    					@foreach(var facility in room_facilitys){   
    				        <label class="w_sn"><input type="checkbox" class="multiple"  name="room_facilitys" value="@facility.Key"><span class="room_facility">@facility.Value</span></label>
    	                }					
    				</p>
    			</div>
    		</div>
		<a href="javascript:document.forms[0].submit()" class="btn_b" id="btn_add_room">确定添加房型</a>
            
        </div>
	</div>
	<div class="btn_box">
		<a href="" class="previou btn_a">上一步</a>
		<a href="" id="save_room_info" class="btn_a btn_save_step">保存进入下一步</a>
	</div>
</div>

<!-- 录入房价 -->
<div id="price_input" class="box_a">
    <div class="from_path">
        <h2>录入价格<span>如需修改价格，请再录入完成后进入<a href="">房价管理</a>修改。</span></h2>
        <p class="input_line">
            <span class="input_room_rp_name">大床房大床房大床房大床房</span>
            <label for="?????">
                <span class="label">标准价</span>
                <span class="label">每晚</span>
                <input class="w50" type="text" name="?????">
                <span>元</span><span class="col_red">*</span>
            </label>
        </p>
        <p class="input_line">
            <span class="input_room_rp_name">大床房大床房大床房大床房</span>
            <label for="">
                <span class="label">标准价</span>
                <span class="label">每晚</span>
                <input class="w50" type="text">
                <span>元</span><span class="col_red">*</span>
            </label>
        </p>
    </div>
    <div class="from_path">
        <h2>担保</h2>
        <div class="from_path">
            <table id="advance_list" cellspacing="0">
                <tbody>
                    <tr>
                        <th>但保规则</th>
                        <th>担保日期</th>
                        <th>变更/取消规则</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>首晚房费</td>
                        <td>2014-06-20至2014-06-20</td>
                        <td>不允许变更/取消</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>全部房费</td>
                        <td>2014-06-20至2014-06-20</td>
                        <td>允许变更/取消，需在最早到店时间前 48 小时通知</td>
                        <td>2014-06-20至2014-06-20</td>
                    </tr>
                </tbody>
            </table>            
        </div>
        <div class="from_path">
            <span class="btn_d set">添加担保</span>
            <div class="box_b"> 
                <p class="input_line">
                    <span class="label">担保金额</span>
                    <label class="m_r20"><input type="radio" name="???" value="？">首晚房费</label>
                    <label><input type="radio" name="???" value="？？">全额房费</label>
                    <span class="col_red">*</span>
                </p>
                <p class="input_line">
                    <span class="label">设置担保日期</span>
                    <input type="text" name="???">到
                    <input type="text" name="???">
                </p>
                <div class="clear">
                    <div class="float_l">
                        <p class="input_line"><span class="label">设置变更/取消规则</span></p>
                    </div>
                    <div class="float_l">
                        <p class="input_line">
                            <label><input type="radio" name="???" value="????">不允许变更/取消</label>
                        </p>
                        <p class="input_line">
                            <label><input type="radio" name="???" value="???">允许变更/取消，需在最早到店时间前<input class="w50" type="text" name="???">小时通知</label>
                        </p>
                    </div>
                </div>
                <a href="" class="btn_b" id="btn_add_danbao">确定添加担保</a>
            </div>           
        </div>
    </div>
    <div class="btn_box">
        <a href="" class="previou btn_a">上一步</a>
        <a href="" id="save_price_info" class="btn_a btn_save_step">保存进入下一步</a>
    </div>
</div>
    
    
    
    
    
    
    <fieldset>
        <legend>hotel_room_info</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_id)
            @Html.ValidationMessageFor(model => model.h_r_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hotel_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hotel_id)
            @Html.ValidationMessageFor(model => model.hotel_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_name_cn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_name_cn)
            @Html.ValidationMessageFor(model => model.h_r_name_cn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_name_en)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_name_en)
            @Html.ValidationMessageFor(model => model.h_r_name_en)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_description_cn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_description_cn)
            @Html.ValidationMessageFor(model => model.h_r_description_cn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_description_en)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_description_en)
            @Html.ValidationMessageFor(model => model.h_r_description_en)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_acreage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_acreage)
            @Html.ValidationMessageFor(model => model.h_r_acreage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_people_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_people_number)
            @Html.ValidationMessageFor(model => model.h_r_people_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_bedroom_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_bedroom_number)
            @Html.ValidationMessageFor(model => model.h_r_bedroom_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_house_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_house_number)
            @Html.ValidationMessageFor(model => model.h_r_house_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_reserve)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_reserve)
            @Html.ValidationMessageFor(model => model.h_r_reserve)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_bed_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_bed_number)
            @Html.ValidationMessageFor(model => model.h_r_bed_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_bed_type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_bed_type)
            @Html.ValidationMessageFor(model => model.h_r_bed_type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_bathroom_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_bathroom_number)
            @Html.ValidationMessageFor(model => model.h_r_bathroom_number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_floor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_floor)
            @Html.ValidationMessageFor(model => model.h_r_floor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_least_day)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_least_day)
            @Html.ValidationMessageFor(model => model.h_r_least_day)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_longest_day)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_longest_day)
            @Html.ValidationMessageFor(model => model.h_r_longest_day)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_ctime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_ctime)
            @Html.ValidationMessageFor(model => model.h_r_ctime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_utime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_utime)
            @Html.ValidationMessageFor(model => model.h_r_utime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_state)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_state)
            @Html.ValidationMessageFor(model => model.h_r_state)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_r_sort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_r_sort)
            @Html.ValidationMessageFor(model => model.h_r_sort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BroadnetAccess)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BroadnetAccess)
            @Html.ValidationMessageFor(model => model.BroadnetAccess)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BroadnetFee)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BroadnetFee)
            @Html.ValidationMessageFor(model => model.BroadnetFee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Capacity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capacity)
            @Html.ValidationMessageFor(model => model.Capacity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.house_service)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.house_service)
            @Html.ValidationMessageFor(model => model.house_service)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}








<div>
    @Html.ActionLink("Back to List", "Index")
</div>

