@model IEnumerable<SAS.Models.Order_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.o_SerialId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_userFromdb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_descript)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_number_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h_room_rp_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rp_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rp_price_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rp_price_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_state_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_state_change_log)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_unit_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_isbuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_ctime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_buy_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_user_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_user_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_check_in_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_check_out_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_night)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_buy_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_other_guest_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_from_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_guest_remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_associateOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastestArriveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.earliestArriveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_IsInstantOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_guaranteePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_roomRetain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_orderWay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payLasestTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderCreateOperatorGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderCreateOperator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.channelID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.o_SerialId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotel_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotel_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotel_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotel_Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotel_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_userFromdb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_descript)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_number_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h_room_rp_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rp_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rp_price_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rp_price_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_state_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_state_change_log)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_unit_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_isbuy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_ctime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_buy_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_user_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_user_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_check_in_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_check_out_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_night)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_buy_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_other_guest_info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_from_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_guest_remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_associateOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastestArriveTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.earliestArriveTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_IsInstantOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_guaranteePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_roomRetain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.o_orderWay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payLasestTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderCreateOperatorGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderCreateOperator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.channelID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_id })
        </td>
    </tr>
}

</table>
