@model SAS.Models.Order_info

@{
    ViewBag.Title = "未确认订单";
    ViewBag.my_oder = "set";
}

<div id="flag_box">
	<a href="/Order/MyOrder" class="btn_c set">未确认订单</a>
	<a href="/Order/CheckOrder" class="btn_c">待审核订单</a>
	<a href="/Order/QueryOrder" class="btn_c">订单查询</a>
</div>
<div class="box_a">
	<table cellspacing="0">
		<tbody>
			<tr>
				<th>&nbsp;</th>
				<th>订单号</th>
				<th>公寓名称</th>
				<th>房型</th>
				<th>入住人</th>
				<th>电话号码</th>
				<th>入住日期</th>
				<th>离店日期</th>
				<th>总价</th>
				<th>状态</th>
				<th>操作</th>
			</tr>

			<!-- 订单数据 -->
			<tr>
                @foreach (var o in Model.OrderList)
                {
                   	<tr>
				<td>@if(o.o_guaranteePrice>0)
                    {
                       <span class="danbao_ico">担保</span>
                    }
				</td>
				<td>@o.o_SerialId</td>
				<td>@o.hotel_name</td>
				<td>@o.room_name</td>
				<td>@o.o_other_guest_info</td>
				<td>@o.o_user_phone</td>
				<td>@o.o_check_in_date.ToShortDateString()</td>
				<td>@o.o_check_out_date.ToShortDateString()</td>
				<td>@o.o_total_price</td>
				<td>未确认</td>
				
				<td><a href="" class="operation_order" order_id="@o.order_id" >操作</a></td>
			</tr>
             }
			
		
		</tbody>
	</table>
</div>



<!-- 弹窗 -->
<div class="set_box hide">

<!-- 表单 -->
<form class="my_form">
	<!-- 订单ID -->
	<input class="order_id hide" type="text" name="xxxxx" >

	<!-- 确认订单/拒绝订单 -->
	<p class="input_line">
		<label class="confirmation_order">
		<input type="radio" name="xxxxx" value="1" checked>
		<span>确认订单</span></label></p>
	<p class="input_line">
		<label class="confirmation_order">
		<input type="radio" name="xxxxx" value="2">
		<span>拒绝订单</span>
		</label>
	</p>
	<div class="rejection_box hide">

		<!-- 满房/变价/其它 -->
		<p class="input_line m_l0">
			<label><input class="rejection_radio" type="radio" name="xxxxx" value="">满房</label>
			<label><input class="rejection_radio" type="radio" name="xxxxx" value="">变价</label>
			<label><input class="rejection_radio" type="radio" name="xxxxx" value="">其它</label>
		</p>
		<!-- 其它有因 -->
		<textarea class="rejection_text hide" name="xxxxx" placeholder="请说明原因"></textarea>

	</div>
	<p class="t_ac m_t20">
		<a href="" class="btn_b modify_order_status_btn">确认</a>
		<a href="" class="close_win btn_b">取消</a>
	</p>
</form>
</div>
