@model SAS.Models.Order_info

@{
    ViewBag.Title = "订单查询";
    ViewBag.my_oder = "set";
}

<div id="flag_box">
	<a href="/Order/MyOrder" class="btn_c ">未确认订单</a>
	<a href="/Order/CheckOrder" class="btn_c">待审核订单</a>
	<a href="/Order/QueryOrder" class="btn_c set">订单查询</a>
</div>
<div class="box_a" id="query_order">
	@using (Html.BeginForm("orderQuerySubmit", "order", FormMethod.Post))
{

		<p class="input_line">
			<!-- 订单编号 -->
			<label>
				<span class="label">订单编号</span>
				<input class="w100" type="text" name="@Html.DisplayNameFor(model => model.o_SerialId)" value="">
			</label>

			<!-- 入住人姓名 -->
			<label>
				<span class="label">入住人姓名</span>
				<input class="w100" type="text" name="@Html.DisplayNameFor(model => model.o_other_guest_info)"value="">
			</label>

			<!-- 电话 -->
			<label>
				<span class="label">电话</span>
				<input class="w100" type="text" name="@Html.DisplayNameFor(model => model.o_user_phone)" value="">
			</label>
		</p>

		@*<p class="input_line">
			<!-- 选择公寓 -->
			<label>
				<span class="label">公寓</span>
				<select name="xxxx">
					<option value="">选择公寓</option>
				
					<!-- 公寓遍历 -->
					<option value="xxx">公寓名</option>
				</select>
			</label>

			<!-- 选择房型 -->
			<label>
				<span class="label">房型 </span>
				<select name="xxxx">
					<option value="">选择房型 </option>
				
					<!-- 房型遍历 -->
					<option value="xxx">房型 名</option>
				</select>
			</label>
			
			<!-- 房号 -->
			<label>
				<span class="label">房号</span>
				<input class="w100" type="text" name="xxxx" value="xxx">
			</label>
		</p>*@

		<!-- 订单产生时间 -->
		<p class="input_line">
			<span class="label">预定日期</span>
			<input class="date_start_order" type="text" name="@Html.DisplayNameFor(model => model.earliestArriveTime)" value="">
			到
			<input class="date_end_order" type="text" name="@Html.DisplayNameFor(model => model.lastestArriveTime)" value="">

			<span class="label">入住日期</span>
			<input class="date_start w100" type="text" name="@Html.DisplayNameFor(model => model.o_check_in_date)" value="">
			<span class="label">离店日期</span>
			<input class="date_end w100" type="text" name="@Html.DisplayNameFor(model => model.o_check_out_date)" value="">
		</p>

		<p class="m_t20 t_ac">
			<a href="javascript:document.forms[0].submit()" class="btn_b">查询</a>
		</p>
 }
	<table cellspacing="0" class="m_t30">
		<tbody>
			<tr>
				<th>&nbsp;</th>
				<th>订单号</th>
				<th>公寓名称</th>
				<th>房型</th>
				<th>入住人</th>
				<th>电话号码</th>
				<th>入住日期</th>
				<th>离店日期</th>
				<th>总价</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
                  @foreach (var o in Model.OrderList)
                {
                   	<tr>
				<td>@if(o.o_guaranteePrice>0)
                    {
                       <span class="danbao_ico">担保</span>
                    }
				</td>
				<td>@o.o_SerialId</td>
				<td>@o.hotel_name</td>
				<td>@o.room_name</td>
				<td>@o.o_other_guest_info</td>
				<td>@o.o_user_phone</td>
				<td>@o.o_check_in_date.ToShortDateString()</td>
				<td>@o.o_check_out_date.ToShortDateString()</td>
				<td>@o.o_total_price</td>
				<td>未确认</td>
				
				<td><a href="" class="operation_order" order_id="@o.order_id" >操作</a></td>
			</tr>
             }

			<!-- 订单数据 -->
	@*		<tr>
				<td><span class="danbao_ico">担保</span></td>
				<td>123456789123</td>
				<td>公寓名称公寓名称公寓名称公寓名称</td>
				<td>房型名称</td>
				<td>入住人name</td>
				<td>13584562554</td>
				<td>000-00-00</td>
				<td>000-00-00</td>
				<td>￥0000.00</td>
				<td>未确认</td>
				<td><a href="" class="operation_order">操作</a></td>
			</tr>*@
		</tbody>
	</table>
</div>

<!-- 日期控件 -->
<script type="text/javascript" src="@Url.Content("~/Content/public/script/laydate/laydate.dev.js")"></script>
<script>
    (function () {
        var start = {
            elem: '#query_order .date_start',
            // min: laydate.now(), //设定最小日期为当前日期
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#query_order .date_end',
            // min: laydate.now(),
            istoday: false,
            choose: function (datas) {
                start.max = datas; //结束日选好后，充值开始日的最大日期
            }
        };

        var start_order = {
            elem: '#query_order .date_start_order',
            istoday: false,
            istime : true,
            format: 'YYYY-MM-DD hh:mm:ss',
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end_order = {
            elem: '#query_order .date_end_order',
            istoday: false,
            istime : true,
            format: 'YYYY-MM-DD hh:mm:ss',
            choose: function (datas) {
                start.max = datas; //结束日选好后，充值开始日的最大日期
            }
        };


        laydate(start);
        laydate(end);
        laydate(start_order);
        laydate(end_order);
    })();
</script>
