@model SAS.Models.GuaranteeRule

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GuaranteeRule</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.GuaranteeRulesId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GuaranteeRulesId)
            @Html.ValidationMessageFor(model => model.GuaranteeRulesId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateType)
            @Html.ValidationMessageFor(model => model.DateType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WeekSet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WeekSet)
            @Html.ValidationMessageFor(model => model.WeekSet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsTimeGuarantee)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsTimeGuarantee)
            @Html.ValidationMessageFor(model => model.IsTimeGuarantee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndTime)
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsTomorrow)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsTomorrow)
            @Html.ValidationMessageFor(model => model.IsTomorrow)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsAmountGuarantee)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAmountGuarantee)
            @Html.ValidationMessageFor(model => model.IsAmountGuarantee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GuaranteeType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GuaranteeType)
            @Html.ValidationMessageFor(model => model.GuaranteeType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChangeRule)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChangeRule)
            @Html.ValidationMessageFor(model => model.ChangeRule)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Day)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Day)
            @Html.ValidationMessageFor(model => model.Day)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Time)
            @Html.ValidationMessageFor(model => model.Time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hour)
            @Html.ValidationMessageFor(model => model.Hour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hotel_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hotel_id)
            @Html.ValidationMessageFor(model => model.hotel_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_room_rp_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_room_rp_id)
            @Html.ValidationMessageFor(model => model.h_room_rp_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RatePlanId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RatePlanId)
            @Html.ValidationMessageFor(model => model.RatePlanId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
