@model SAS.Models.GuaranteeRule

@{
    
    List<SAS.Models.hotel_info> hotels = ViewData["hotels"] as List<SAS.Models.hotel_info>;

    //所有酒店对应的房型列表
 //   List<SAS.Models.hotel_room_info> rooms = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;

    //所有担保规则列表
    List<SAS.Models.GuaranteeRule> guarantees = ViewData["Gurarantees"] as List<SAS.Models.GuaranteeRule>;

    ViewBag.Title = @ViewBag.title;
    ViewBag.Description = @ViewBag.title;
    ViewBag.guarantees = "set";
    int i = 0;


}

  @using (Html.BeginForm("Create", "Guarantee", FormMethod.Post))
        {
     <input class="hide" type="text" name="@Html.DisplayNameFor(model => Model.hotel_id)" value="@ViewBag.Id" />
      <input class="hide" type="text" name="@Html.DisplayNameFor(model => Model.id)" value="@Model.id" />
   <div id="DrrRule" class="box_a">
    <h2>公寓:
        <select name="" id="hotel_switch">
            @foreach (var h in hotels)
            {
                <option value="@h.h_name_cn">@h.h_name_cn</option>
            }
        </select>
    </h2>
    @foreach (var h in hotels)
    {
       
        i++;
        <div class='@(i < 2 ? "show" : "hide") hotel_drr'>

            <table cellspacing="0">
                <tbody>
                    <tr>
                        <th>担保规则</th>
                        <th>担保日期</th>
                        <th>变更/取消规则</th>
                        <th>操作</th>
                    </tr>
                    @foreach (var item in guarantees)
                    { 
                        <tr>
                            <td>@item.Description</td>
                            <td>@(item.StartDate)至@(item.EndDate)</td>
                            <td><a href="@item.id">修改</a>|<a href="">删除</a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <br>
            <p><span class="btn_d set">@ViewBag.title</span></p>
            <div class="box_b">
                <p class="input_line">
                    <label for="">
                        <span class="label">担保金额：</span>
                        <label>
                            <input type="radio" name="@Html.DisplayNameFor(model => model.GuaranteeType)" value="FirstNightCost" @Model.GuaranteeType == "FirstNightCost"?"checked":"">首晚房费</label>
                        <label>
                            <input type="radio" name="@Html.DisplayNameFor(model => model.GuaranteeType)" value="FullNightCost" @Model.GuaranteeType == "FullNightCost"?"checked":"">全部房费</label>
                    </label>
                </p>
                <p class="input_line">
                    <span class="label">担保日期：</span>
                    <input readonly="readonly" type="text" name="@Html.DisplayNameFor(model => model.StartDate)" class="date_start laydate-icon" value="@Model.StartDate">至<input readonly="readonly" type="text" name="@Html.DisplayNameFor(model => model.EndDate)" class="date_end laydate-icon" value="@Model.StartDate">
                </p>
                <div class="clear">
                    <div class="float_l">
                        <div class="input_line"><span class="label">变更/取消：</span></div>
                    </div>
                    <div class="float_l checkbox_box">
                        <p class="input_line">
                            <label>
                                <input class="g_ru_change" type="radio" name="@Html.DisplayNameFor(model => model.ChangeRule)" @Model.ChangeRule == "1"?"checked":"" value="1">不许变更/取消</label>
                        </p>
                        <p class="input_line">
                            <label>
                                <input class="g_ru_change" type="radio" name="@Html.DisplayNameFor(model => model.ChangeRule)" @Model.ChangeRule == "1"?"checked":"" value="2">
                                允许变更/取消，需在最早到店时间前
                            <input class="w50 only_integer" type="text" name="@Html.DisplayNameFor(model => model.Hour)" value="@Model.Hour">
                                小时通知
                            </label>
                        </p>
                        <input type="text" id="Description" class="hide" name="@Html.DisplayNameFor(model => model.Description)" value="@Model.Description">
                    </div>
                </div>
                <a id="btn_add_drr" class="btn_b" href="javascript:document.forms[0].submit()">@ViewBag.buttonName</a>
            </div>
        </div>
    }
</div>
  }
<!-- 日期控件 -->
<script type="text/javascript" src="@Url.Content("~/Content/public/script/laydate/laydate.dev.js")"></script>
<script>
    var start = {
        elem: '#DrrRule .date_start',
        min: laydate.now(), //设定最小日期为当前日期
        istoday: false,
        choose: function (datas) {
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#DrrRule .date_end',
        min: laydate.now(),
        istoday: false,
        choose: function (datas) {
            start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
</script>
