@model SAS.Models.Order_info

@{
    ViewBag.Title = "结算管理";
    ViewBag.my_bill = "set";
    ViewBag.url = "/Bill/QureyBill?hotelId=xxx&startTime=xxx&endTime=xxx&page=";
}

<div id="content" class="box_a">
    <p id="double_date" class="input_line bill_query">
        <span class="label" style="margin-left: 0">公寓</span>
        <select name="">
            <option value="">所有公寓</option>
            <option value="x">xxx</option>
        </select>
        <span class="label">日期</span>
        <input class="date_start w100" type="text" name=""  value="">
        到
        <input class="date_end w100" type="text" name=""  value="">
        <a href="" id="bill_btn" class="btn_b">查询</a>
    </p>

    <p><span class="label">收入总计：</span>￥<span class="col_red f_z18">XXXX</span><span class="label">拥挤总计：</span>￥<span class="col_red f_z18">XXXX</span><span class="label">担保总计：</span>￥<span class="col_red f_z18">XXXX</span></p>
    <table cellspacing="0">
        <tbody>
            <tr>
                <th>订单号</th>
                <th>公寓名称</th>
                <th>房型</th>
                <th>入住人</th>
                <th>入离店时间</th>
                <th>订单总价</th>
                <th>收入</th>
                <th>佣金</th>
                <th>担保</th>
            </tr>
            
            <!-- 表格数据 -->
            <tr>
                <td>XXXXXX</td>
                <td>XXXX</td>
                <td>xxxxx</td>
                <td>xxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
            </tr>

            <!-- 没有数据 -->
            <tr>
                <td colspan="9">没有结算信息</td>
            </tr>
        </tbody>
    </table>
    
    <div id="page_number_box">
        @if(Convert.ToInt32(ViewBag.curentPage)!=1){
            <a href="@(ViewBag.url+(Convert.ToInt32(ViewBag.curentPage)-1))" class="page_n">上一页</a>
        }
        @if(Convert.ToInt32(ViewBag.curentPage)<5){
            for (int i = 0; i < ((Convert.ToInt32(ViewBag.allPage)>5? 5 : Convert.ToInt32(ViewBag.allPage)-1)); i++)
            {
             <a href="@(ViewBag.url+(i+1))" class="page_n @(Convert.ToInt32(ViewBag.curentPage)==i+1 ? "set" : "")">@(i +1)</a>
            }
        }
        @if(Convert.ToInt32(ViewBag.curentPage) > 4){
            <a href="@(ViewBag.url+ 1)" class="page_n">1</a>
            <span>......</span>
            if(Convert.ToInt32(ViewBag.allPage) - Convert.ToInt32(ViewBag.curentPage) > 2){
                for (int i = 0; i < (Convert.ToInt32(ViewBag.allPage)-3>5? 5 : Convert.ToInt32(ViewBag.allPage)-3); i++)
                {
                 <a href="@(ViewBag.url+(i+Convert.ToInt32(ViewBag.curentPage)-2))" class="page_n @(Convert.ToInt32(ViewBag.curentPage) == (i+Convert.ToInt32(ViewBag.curentPage)-2) ? "set" : "")">@(i+Convert.ToInt32(ViewBag.curentPage)-2)</a>
                }
            }else {

                for (int i = 0; i < (Convert.ToInt32(ViewBag.allPage)>5? 4 : Convert.ToInt32(ViewBag.allPage)-1); i++)
                {
                 <a href="@(ViewBag.url+(Convert.ToInt32(ViewBag.allPage)-4+i))" class="page_n @(Convert.ToInt32(ViewBag.curentPage) == (Convert.ToInt32(ViewBag.allPage)-4+i) ? "set" : "")">@(Convert.ToInt32(ViewBag.allPage)-4+i)</a>
                }
            }
        }
        @if(Convert.ToInt32(ViewBag.allPage) - Convert.ToInt32(ViewBag.curentPage) > 3){
            <span>......</span>
        }
        <a href="@(ViewBag.url + ViewBag.allPage)" class="page_n @(Convert.ToInt32(ViewBag.curentPage)==ViewBag.allPage ? "set" : "")">@ViewBag.allPage</a>
        @if(Convert.ToInt32(ViewBag.curentPage)!=Convert.ToInt32(ViewBag.allPage)){
            <a href="@(ViewBag.url+(Convert.ToInt32(ViewBag.curentPage)+1))" class="page_n">下一页</a>
        }
    </div>
    
  
</div>


<!-- 日期控件 -->
<script type="text/javascript" src="@Url.Content("~/Content/public/script/laydate/laydate.dev.js")"></script>
<script>
    // 比较xxxx-xx-xx格式的日期
    function comparisonDate(start,end) {
        if (!start||!end) {
            return;
        };
        var start_arr = start.split("-"),
            end_arr = end.split("-"),
            startTime = new Date(),
            endTime = new Date();
        startTime.setFullYear(start_arr[0]);
        startTime.setMonth(start_arr[1]-1);
        startTime.setDate(start_arr[2]);
        startTime.setHours(0);
        startTime.setMinutes(0);
        startTime.setSeconds(0);
        startTime = startTime.setMilliseconds(0);
        endTime.getTime();
        endTime.setFullYear(end_arr[0]);
        endTime.setMonth(end_arr[1]-1);
        endTime.setDate(end_arr[2]);
        endTime.setHours(0);
        endTime.setMinutes(0);
        endTime.setSeconds(0);
        endTime.setMilliseconds(0);
        endTime = endTime.getTime();
        return startTime-endTime;
    }

    var end_node = document.getElementsByClassName('date_end')[0],
        start_node = document.getElementsByClassName('date_start')[0];

    var start = {
        elem: '#double_date .date_start',
        //min: laydate.now(), //设定最小日期为当前日期
        istoday: false,
        choose: function (datas) {
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
            if (comparisonDate(start_node.value,end_node.value)>0) {
                end_node.value = start_node.value;
            };
        }
    };
    var end = {
        elem: '#double_date .date_end',
        //min: laydate.now(),
        istoday: false,
        choose: function (datas) {
            //start.max = datas; //结束日选好后，充值开始日的最大日期
            if (comparisonDate(start_node.value,end_node.value)>0) {
                start_node.value = end_node.value;
            };
        }
    };
    laydate(start);
    laydate(end);
</script>