@model IEnumerable<SAS.Models.Room_status_info>

@{
    ViewBag.Title = "Index";
    ViewBag.Description = "新建公寓";
    ViewBag.Keywords = "新建公寓";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.room_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_s_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_s_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverBooking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_s_utime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_s_ctime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_s_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.room_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_s_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_s_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverBooking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_s_utime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_s_ctime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_s_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotel_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.r_s_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.r_s_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.r_s_id })
        </td>
    </tr>
}

</table>
