@model SAS.Models.hotel_info

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>hotel_info</legend>

        @Html.HiddenFor(model => model.hotel_id)

        <div class="editor-label">
            @Html.LabelFor(model => model.h_name_cn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_name_cn)
            @Html.ValidationMessageFor(model => model.h_name_cn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_location_cn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_location_cn)
            @Html.ValidationMessageFor(model => model.h_location_cn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_description_cn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_description_cn)
            @Html.ValidationMessageFor(model => model.h_description_cn)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
