@model SAS.Models.hotel_room_RP_price_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>hotel_room_RP_price_info</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.h_room_rp_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.h_room_rp_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PriceID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.room_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.room_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomTypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.room_rp_start_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.room_rp_start_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.room_rp_end_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.room_rp_end_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.room_rp_price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.room_rp_price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Weekend)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weekend)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemberCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberCost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WeekendCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeekendCost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.room_rp_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.room_rp_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CurrencyCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddBed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddBed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hotel_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hotel_id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.rp_price_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
