@model IEnumerable<SAS.Models.hotel_room_RP_price_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.h_room_rp_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_rp_start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_rp_end_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_rp_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weekend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekendCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_rp_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddBed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.h_room_rp_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_rp_start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_rp_end_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_rp_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weekend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeekendCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_rp_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddBed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotel_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rp_price_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.rp_price_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rp_price_id })
        </td>
    </tr>
}

</table>
