@model SAS.Models.hotel_info

@{
    ViewBag.Title = "新建公寓-修改公寓信息";
    ViewBag.Description = "修改公寓信息";
    ViewBag.Keywords = "修改公寓信息";
    ViewBag.my_apart_ment = "set";        
    
    string f = Model.h_name_cn;
    Dictionary<int, String> hotel_class = ViewData["Category"] as Dictionary<int, string>;

    Dictionary<int, String> hotel_theme = ViewData["Themes"] as Dictionary<int, string>;

    //装修时间
    List<string> DTimes = ViewData["DTime"] as List<string>;

    Dictionary<int, String> hotel_province = ViewData["provice"] as Dictionary<int, string>;

    string[] month = new string[] { "1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月","10月", "11月", "12月" };

    Dictionary<int, String> hotel_facilitys = ViewData["facilities"] as Dictionary<int, string>;


    Dictionary<int, String> hotel_services = ViewData["services"] as Dictionary<int, string>;


    }
@using(Html.BeginForm("Hotel","MyApartMent",FormMethod.Post))
{
<div id="flag_box">
	<span href="" class="btn_c set">修改基本信息</span>
</div>
<div class="box_a content">
	<div class="from_path">
		<h2>公寓基本信息</h2>
		<p class="input_line">
			<label for="hotel_name"><span class="label">名称</span><b>@Model.h_name_cn</b></label>
			<input type="text" class="hide" name="@Html.DisplayNameFor(model => model.h_name_cn)" value="@Model.h_name_cn" >
			<input type="text" class="hide" name="@Html.DisplayNameFor(model => model.h_id)" value="@Model.h_id" >
			<input type="text" class="hide" name="@Html.DisplayNameFor(model => model.u_id)" value="@Model.u_id" >
            <input class="hide multiple_value" type="text" name="@Html.DisplayNameFor(model => model.h_ctime)" value="@Model.h_ctime" />
            <input class="hide multiple_value" type="text" name="@Html.DisplayNameFor(model => model.source_id)" value="@Model.source_id" />
			<label for="hotel_class">
				<span class="label">所属类别</span>
				<select name="@Html.DisplayNameFor(model => model.h_t_id)" id="hotel_class">
	                <option value="" >请选择</option>
	@foreach (var opt in hotel_class)
     {
          if (Model.h_t_id == opt.Key)
         {
	                    <option value="@opt.Key" selected>@opt.Value</option>                    
         }
         else
         {
	                    <option value="@opt.Key" >@opt.Value</option>  }                          
     }
				</select>
				<span class="col_red">*</span>
			</label>
			@*<label for="hotel_theme">
				<span class="label">公寓主题</span>
                 

				<select name="@Html.DisplayNameFor(model => model.hotel_theme_id)" id="hotel_theme">
	                <option value="" >请选择</option>
					@foreach (var opt in hotel_theme)
     {
                   
    
	                    <option value="@opt.Key">@opt.Value</option>                    
     }
				</select>
				<span class="col_red">*</span>
			</label>*@
		</p>
		<p class="input_line">
			<label for="@Html.DisplayNameFor(model => model.h_tel)">
				<span class="label">电话</span>
				<input id="phone" type="text" class="hide" name="@Html.DisplayNameFor(model => model.h_tel)" value="@Model.h_tel">
				<input type="text" id="phone_area_code" value="@Model.h_tel.Split('-')[0]">-<input type="text" id="hotel_phone" value="@Model.h_tel.Split('-')[1]">
				<span class="col_red">*</span>
			</label>
			<label for="@Html.DisplayNameFor(model => model.h_fax)">
				<span class="label">传真</span>
				<input id="hotel_fax" type="text" name="@Html.DisplayNameFor(model => model.h_fax)" value="@Model.h_fax">
			</label>
			<label for="@Html.DisplayNameFor(model => model.h_mobile_phone)">
				<span class="label">手机号码</span>
				<input id="mobeli_phone" type="text" name="@Html.DisplayNameFor(model => model.h_mobile_phone)" value="@Model.h_mobile_phone">
				<span class="col_red">*</span>
				<span>接收订单提醒短信</span>
			</label>
		</p>
		<p class="input_line">
			<span class="label">城市及所在商区</span>
            <select name="@Html.DisplayNameFor(model => model.h_province)" id="hotel_province">
	            <option value="" >请选择</option>
				@foreach (var opt in hotel_province)
    {
        if (@Model.h_province == opt.Key.ToString())
        {
					    <option value="@opt.Key" selected>@opt.Value</option>                    
        }
        else
        {
					    <option value="@opt.Key">@opt.Value</option>                    
        }
    }
			</select>
			<select id="h_city" name="@Html.DisplayNameFor(model => model.h_city)" disabled original="@Model.h_city">
	            <option value="" >所在城市</option>
			</select>
			<select id="h_administrative_region" name="@Html.DisplayNameFor(model => model.h_administrative_region)" disabled original="@Model.h_administrative_region">
	            <option value="" >所在行政区</option>
			</select>
			<select id="h_business_zone" name="@Html.DisplayNameFor(model => model.h_business_zone)" disabled original="@Model.h_business_zone">
	            <option value="" >所在商圈</option>
			</select>
			<span class="col_red">*</span>
		</p>
		<p class="input_line">
			<label for="hotel_address">
				<span class="label">详细街道地址</span><input type="text" id="hotel_address" name="@Html.DisplayNameFor(model => model.h_location_cn)" value="@Model.h_location_cn">
				<span class="col_red">*</span>
			</label>
		</p>
		<div class="clear">
			<div class="float_l">
				<p class="input_line">
					<span class="label">地图位置</span>
				</p>
			</div>
			<div id="location_box" class="float_l">
				<a href="" class="e_tab btn_d set">在地图上定位</a><a href="" class="e_tab btn_d">输入经纬度定位</a>
				<input id="map_lon_input" class="hide" type="text" name="@Html.DisplayNameFor(model => model.BaiduLon)" value="@Model.BaiduLon"><input id="map_lat_input" class="hide" type="text" name="@Html.DisplayNameFor(model => model.BaiduLat)" value="@Model.BaiduLat">
				<p class="float_r"><span id="show_coordinates">@(Model.BaiduLon),@(Model.BaiduLat)</span></p>
				<div class="box_b e_tab_box">
					<div id="maps_input_box"></div>
				</div>
				<div id="location_input_box" class="box_b e_tab_box hide">
					经度：<input id="map_lon" type="text" value="@Model.BaiduLon">纬度：<input id="map_lat" type="text" value="@Model.BaiduLat">
					<br>
					<br>
				</div>
			</div>
		</div>
		<!-- 公寓主题 -->
		<div class="clear">
			<div class="float_l">
				<div class="input_line"><span class="label">公寓主题</span></div>
			</div>
			<div class="float_l checkbox_box">
				<p class="input_line"><a class="all_set" href="">全选</a><a class="reverse_set" href="">反选</a></p>
                <input class="hide multiple_value" type="text" name="@Html.DisplayNameFor(model => model.hotel_theme_id)" value="@Model.hotel_theme_id" />
              
                 <p class="input_line">
					@foreach(var facility in hotel_theme){   
				        <label class="w_sn"><input class="multiple" type="checkbox" name="facilit" value="@facility.Key"><span class="hotel_facility" title="@facility.Value">@facility.Value</span></label>
	                }					
            	</p>
			</div>
		</div>
	</div>
	<div class="from_path">
		<h2>录入详细信息</h2>
		<p class="input_line">
			<label for="hotel_built">
				<input  id="hotel_built_year" type="text" name="@Html.DisplayNameFor(model => model.h_opening_time)" class="hide" value="@(Model.h_opening_time.Year.ToString())年@(Model.h_opening_time.Month.ToString())月">
				<span class="label">开业时间</span>
				<select class="select_yeae">
		            <option value="" >请选择</option>
					@foreach (var opt in DTimes)
     {
         if (Model.h_opening_time.Year.ToString() == opt.Remove(4))
         {
	                    <option value="@opt" selected>@opt</option>                    
         }
         else
         {
	                    <option value="@opt" >@opt</option>                    
         }
     }
				</select>
				<select class="select_month">
		            <option value="" >请选择</option>
					@foreach (var opt in month)
     {
         if (Model.h_opening_time.Month.ToString() == opt.Remove(opt.Length-1))
         {
	                    <option value="@opt" selected>@opt</option>                    
         }
         else
         {
	                    <option value="@opt" >@opt</option>                    
         }
     }
				</select>
			</label>
			<label for="hotel_decoration_time_year">
				<input id="hotel_decoration_time_year" class="hide" type="text" name="@Html.DisplayNameFor(model => model.decorateTime)"  value="@(Model.decorateTime.Year.ToString())年@(Model.decorateTime.Month.ToString())月">
				<span class="label">装修时间</span>
				<select class="select_yeae">
		            <option value="" >请选择</option>
					@foreach (var opt in DTimes)
     {
         if (Model.decorateTime.Year.ToString() == opt.Remove(4))
         {
	                    <option value="@opt" selected>@opt</option>                    
         }
         else
         {
	                    <option value="@opt" >@opt</option>                    
         }                
     }
				</select>
				<select class="select_month">
		            <option value="" >请选择</option>
					@foreach (var opt in month)
     {
         if (Model.decorateTime.Month.ToString() == opt.Remove(opt.Length - 1))
         {
	                    <option value="@opt" selected>@opt</option>                    
         }
         else
         {
	                    <option value="@opt" >@opt</option>                    
         }                 
     }
				</select>
			</label>
			<label for="hotel_building">
				<span class="label">公寓楼高</span><input type="text" id="hotel_building" name="@Html.DisplayNameFor(model => model.floor)" value="@Model.floor">
				<span class="col_red">*</span>
			</label>
			<label for="hotel_room_count">
				<span class="label">房间总数</span>
				<input type="text" id="hotel_room_count" name="@Html.DisplayNameFor(model => model.h_room_count)" value="@Model.h_room_count">
				<span class="col_red">*</span>
			</label>
		</p>
		<p class="input_line"><label for="hotel_specialty">
				<span class="label">公寓特色</span><input type="text" id="hotel_specialty" name="@Html.DisplayNameFor(model => model.Features)" value="@Model.Features">
			</label>
		</p>
		<div class="clear">
			<div class="float_l">
				<p class="input_line">
					<label for="hotel_abstract"><span class="label">公寓简介</span></label>
				</p>
			</div>
			<div class="float_l">
				<p class="input_line">
					<textarea name="@Html.DisplayNameFor(model => model.IntroEditor)" id="hotel_abstract" cols="80" rows="5">@Model.IntroEditor</textarea>
				</p>
			</div>
			<div class="float_l">
				<p class="input_line"><span class="col_red">*</span></p>
			</div>
		</div>
		<div class="clear">
			<div class="float_l">
				<label for="hotel_place"><span class="label">交通位置</span></label>
			</div>
			<div class="float_l">
				<p class="input_line">
					<textarea name="@Html.DisplayNameFor(model => model.h_traffic_position)" id="hotel_place" cols="80" rows="5">@Model.h_traffic_position</textarea>
				</p>
			</div>
			<div class="float_l">
				<span class="col_red">&nbsp;&nbsp;&nbsp;*</span>
			</div>
		</div>
		<p class="input_line">
			<span class="label">可接受的信用卡</span>
          	<input id="cards" class="hide" type="text" name="@Html.DisplayNameFor(model => model.CreditCards)" value="@Model.CreditCards" />
			<label for="visa"><input id="visa" class="multiple" type="checkbox" name="visa" value="visa" @if (Model.CreditCards != null) { <text>@Model.CreditCards.IndexOf("visa") != -1 ? "checked" : ""</text> } ><span class="card visa" title="境外发行信用卡--威士（VISA）"></span></label>
			<label for="master"><input id="master" class="multiple" type="checkbox" name="hotel_card" value="master" @if (Model.CreditCards != null) { <text>@Model.CreditCards.IndexOf("master") != -1 ? "checked" : ""</text> }><span class="card master" title="境外发行信用卡--万事达（Master）"></span></label>
			<label for="amex"><input id="amex" class="multiple" type="checkbox" name="hotel_card" value="amex" @if (Model.CreditCards != null) { <text>@Model.CreditCards.IndexOf("amex") != -1 ? "checked" : ""</text> }><span class="card amex" title="境外发行信用卡--大莱（Diners Club）"></span></label>
			<label for="jcb"><input id="jcb" class="multiple" type="checkbox" name="hotel_card" value="jcb" @if (Model.CreditCards != null) { <text>@Model.CreditCards.IndexOf("jcb") != -1 ? "checked" : ""</text> }><span class="card jcb" title="境外发行信用卡--JCB"></span></label>
			<label for="unionpay"><input id="unionpay" class="multiple" type="checkbox" name="hotel_card" value="unionpay" @if (Model.CreditCards != null) { <text>@Model.CreditCards.IndexOf("unionpay") != -1 ? "checked" : ""</text> }><span class="card unionpay" title="国内发行银联卡"></span></label>
			<label for="dinersclub"><input id="dinersclub" class="multiple" type="checkbox" name="hotel_card" value="dinersclub" @if (Model.CreditCards != null) { <text>@Model.CreditCards.IndexOf("dinersclub") != -1 ? "checked" : ""</text> }><span class="card dinersclub" title="境外发行信用卡--运通（AMEX）"></span></label>
		</p>
	</div>
	<div class="from_path">
		<h2>录入设施与服务</h2>
		<div class="clear">
			<div class="float_l">
				<div class="input_line"><span class="label">公寓配套</span></div>
			</div>
			<div class="float_l checkbox_box">
				<p class="input_line"><a class="all_set" href="">全选</a><a class="reverse_set" href="">反选</a></p>
                <input id="facilities_hide" class="hide" type="text" name="@Html.DisplayNameFor(model => model.Facilities)" value="@Model.Facilities" />
                <p class="input_line">
					@foreach (var facility in hotel_facilitys)
     {
				        <label class="w_sn"><input class="multiple" type="checkbox" name="facilit" value="@facility.Key"><span class="hotel_facility" title="@facility.Value">@facility.Value</span></label>
     }					
            	</p>
			</div>
		</div>
		<div class="clear">
			<div class="float_l">
				<div class="input_line"><span class="label">公寓服务</span></div>
			</div>
			<div class="float_l checkbox_box">
				<p class="input_line"><a class="all_set" href="">全选</a><a class="reverse_set" href="">反选</a></p>
                <input id="generalAmenities_hide" class="hide" type="text" name="@Html.DisplayNameFor(model => model.GeneralAmenities)" value="@Model.GeneralAmenities" />
				<p class="input_line">
					@foreach (var service in hotel_services)
     {
				        <label class="w_sn"><input class="multiple" type="checkbox" name="service" value="@service.Key"><span class="hotel_service" title="@service.Value">@service.Value</span></label>
     }					
				</p>
			</div>
		</div>
	</div>
	<div class="btn_box">
		<a href="" id="save_hotel_info" class="btn_a btn_save_step checking_btn">保存</a>
		<a href="/MyApartMent/MyHotel" class="btn_a btn_save_step checking_btn m_l20">取消</a>
        <input class="hide" type="submit"  value="Create" />
	</div>
</div>
<input id="hotelId" type="text" class="hide" name="@Html.DisplayNameFor(model => model.hotel_id)" value="@ViewBag.HotelId">
<input id="hotelId" type="text" class="hide" name="@Html.DisplayNameFor(model => model.h_ctime)" value="@Html.DisplayNameFor(model => model.h_ctime)">
<input id="success" type="text" class="hide" value="@ViewBag.sign">	
					
}
<!-- 地图 -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=XvswfQtzH5kPt2s7GPYAuTIF"></script>
<script type="text/javascript">

    var sContent = "<div>" + "<p>可以拖动，请放置在房屋所在位置。</p>" + "</div>";
    // 百度地图API功能
    var map = new BMap.Map("maps_input_box");
    map.addControl(new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_SMALL }));  //右上角，仅包含平移和缩放按钮。
    var point = new BMap.Point(116.400244, 39.92556);
    map.centerAndZoom(point, 12);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中
    marker.enableDragging();    //可拖拽
    map.enableScrollWheelZoom();//可以鼠标滚动 缩放比例尺
  

    map.addEventListener("click", function (e) { mapClick(e.point.lng, e.point.lat); });



    function mapClick(lng, lat) {

        map.clearOverlays();
        var currentPoint = new BMap.Point(lng, lat);
        var marker = new BMap.Marker(currentPoint);
        marker.enableDragging();
        $("#Longtitude").val(lng);
        $("#Latitude").val(lat);
        $("#HasLatLong").val("True");

        // marker.addEventListener("dragend", function (e) {
        //     var currentZoom = map.getZoom();
        //     var cp = new BMap.Point(e.point.lng, e.point.lat);
        //     map.setCenter(cp);
        //     $("#Longtitude").val(e.point.lng);
        //     $("#Latitude").val(e.point.lat);
        //     $("#HasLatLong").val("True");
        //     var p = marker.getPosition();//获取marker的位置
        //     set_map_val(p);
        //     // alert("marker的位置是" + p.lng + "," + p.lat);
        // });
        map.addOverlay(marker);
        var infoWindow = new BMap.InfoWindow(sContent);
        marker.addEventListener("click", function () {
            this.openInfoWindow(infoWindow);
        });
        var p = marker.getPosition();//获取marker的位置
        set_map_val(p);
        // alert("marker的位置是" + p.lng + "," + p.lat);
        //setTimeout(function () { marker.openInfoWindow(infoWindow); }, 1000);
        //map.setCenter(currentPoint);
    }

    function set_map_val (p) {
    	$("#map_lon_input").val(p.lng);
    	$("#map_lat_input").val(p.lat);
    	$("#show_coordinates").text(p.lng + "," + p.lat);
    }

    var success = document.getElementById('success').value;
    if (success === "0") {
    	alert("修改成功");
    }else if (success){
    	alert("修改失败");
    }
</script>