@model SAS.Models.hotel_picture_info

@{
    ViewBag.Title = "录入图片";
    List<SAS.Models.hotel_room_info> roomList = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;
    Dictionary<string, int> ImageTypes = ViewData["ImageTypes"] as  Dictionary<string, int>;
}


<div id="flag_box">
	<a href="" class="btn_c">1 录入公寓信息</a>
	<a href="" class="btn_c">2 录入房型</a>
	<a href="" class="btn_c">3 录入房价</a>
	<a href="" class="btn_c set">4 录入图片</a>
</div>
<!-- 录入房型图片 -->
<div class="box_a" id="add_img">
	<select id="img_type_sel" class="hide">
        <option value="" >选择类型</option>                    

	@foreach (var opt in ImageTypes)
 {
	            <option value="@opt.Value" >@opt.Key</option>                    
	}
	</select>


    @foreach (var room in roomList)
    {
	<div class="from_path" room_id="@room.room_id">
		<h2>@room.h_r_name_cn<span>为了更好的展示公寓，图片至少上传5张，包括客厅、卧室、卫生间、厨房、床。</span></h2>
		<div class="clear">
			<div class="float_l">
				<label>
					<input type="file" name="file" multiple room_id="@room.room_id" class="upload_img_input" >
					<span class="upload_img_btn">选择图片</span>
				</label>
				<p class="upload_help">建议使用现代浏览器（支持一次选择多张图片上传）</p>
			</div>
			<div class="float_l">
				<div class="clear img_show_box">
				</div>
			</div>
		</div>
	</div>
    }

	<div class="btn_box">
		<a href="" id="save_room_info" class="btn_a btn_save_step">完成</a>
	</div>
    
</div>

