@model SAS.Models.hotel_picture_info

@{
    ViewBag.Title = "录入图片";
    ViewBag.hotel_info = "set";        
    string hotelId= ViewBag.HotelId;
    //房型列表
    List<SAS.Models.hotel_room_info> roomList = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;
    //图片类型
    Dictionary<string, int> ImageTypes = ViewData["ImageTypes"] as  Dictionary<string, int>;
    //上传的所有图片
    Dictionary<string, int> Images = ViewData["Image"] as Dictionary<string, int>;
}


<div id="flag_box">
	<a href="" class="btn_c">1 录入公寓信息</a>
	<a href="" class="btn_c">2 录入房型</a>
	<a href="" class="btn_c">3 录入房价</a>
	<a href="" class="btn_c set">4 录入图片</a>
</div>
<!-- 录入房型图片 -->
<div class="box_a" id="add_img">
	<div class="from_path">
		<p><b>图片上传注意事项：</b></p>
		<p>请使用现代浏览器（支持多图片选择上传）。</p>
		<p>为了更好的展示公寓，图片至少上传5张，包括客厅、卧室、卫生间、厨房、床。</p>
		<p>图片最小宽度500px，最小高度300px。</p>
	</div>


	<select id="img_type_sel" class="hide">
        <option value="" >选择类型</option>                  

	@foreach (var opt in ImageTypes)
	 {
	            <option value="@opt.Value" >@opt.Key</option>                    
	}
	</select>


    @foreach (var room in roomList)
    {
	<div class="from_path" room_id="@room.room_id">
		<h2>@room.h_r_name_cn</h2>
		<div class="clear room_img_item">
			<div class="float_l">
				<label>
					<input type="file" name="file" multiple room_id="@room.room_id" class="upload_img_input" accept="image/gif, image/jpeg, image/bmp, image/png">
					<span class="upload_img_btn">选择图片</span>
				</label>
			</div>
			<div class="float_l">
				<div class="clear img_show_box">
				</div>
			</div>
		</div>
	</div>
    }
    @using (Html.BeginForm("CreateSub", "Image", FormMethod.Post))
    {
	<div class="btn_box">
        <input  type="hidden"  id="room_remarks" name="hotelId" value="@hotelId">
      
		<a href="javascript:document.forms[0].submit()" id="save_room_img" class="btn_a btn_save_step checking_btn">完成</a>
	</div>
    }
</div>

