@model SAS.Models.hotel_picture_info

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>hotel_picture_info</legend>

        @Html.HiddenFor(model => model.h_p_id)

        <div class="editor-label">
            @Html.LabelFor(model => model.hotel_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hotel_id)
            @Html.ValidationMessageFor(model => model.hotel_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_p_title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_p_title)
            @Html.ValidationMessageFor(model => model.h_p_title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_p_pic_original_url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_p_pic_original_url)
            @Html.ValidationMessageFor(model => model.h_p_pic_original_url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_p_pic_thumb_url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_p_pic_thumb_url)
            @Html.ValidationMessageFor(model => model.h_p_pic_thumb_url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_p_sort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_p_sort)
            @Html.ValidationMessageFor(model => model.h_p_sort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_p_time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_p_time)
            @Html.ValidationMessageFor(model => model.h_p_time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_p_tag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_p_tag)
            @Html.ValidationMessageFor(model => model.h_p_tag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_p_type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_p_type)
            @Html.ValidationMessageFor(model => model.h_p_type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_p_size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_p_size)
            @Html.ValidationMessageFor(model => model.h_p_size)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
