<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    @Html.Partial("_public_head")
</head>
<body>
    @Html.Partial("_header")
	<div id="content" class="mainlayout clear">
        @RenderBody()
	</div>
</body>
</html>
