<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    @Html.Partial("_public_head")
</head>
<body>
    @RenderBody()
</body>
</html>
