<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    @Html.Partial("_public_head")
</head>
<body>
    @Html.Partial("_header")
	<div id="content" class="mainlayout clear">
		<div id="nav_box" class="float_l">
             @Html.Partial("_main_nav")  
		</div>
		<div id="main_box" class="float_l">
		    @RenderBody()
		</div>
	</div>
	@Html.Partial("_public_foot")
</body>
</html>
