<!-- 导航 -->
<div id="main_nav">
	<div class="main_nav_item">
		<a href="/Order/MyOrder">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
	</div>
	<div class="main_nav_item">
		<a href="/addHotel/create">公寓管理</a>
		<a class="nav_item @ViewBag.hotel_info" href="/addHotel/create">新建公寓</a>
		<a class="nav_item @ViewBag.my_apart_ment" href="/MyApartMent/MyHotel">我的公寓</a>
		<a class="nav_item @ViewBag.my_prix" href="/Price/myprice">房价管理</a>
		<a class="nav_item @ViewBag.my_status" href="/rStatus/Status">房态管理</a>
		<a class="nav_item @ViewBag.guarantees" href="/Guarantee/MyGuarantee">担保规则</a>
		<a class="nav_item @ViewBag.drrs" href="/DrrRule/MyDrr">促销规则</a>
		<a class="nav_item @ViewBag.gift" href="/Gift/MyGift">礼包设置</a>
	</div>
	<div class="main_nav_item">
		<a href="/Order/MyOrder">交易管理</a>
		<a class="nav_item @ViewBag.my_oder" href="/Order/MyOrder">订单管理</a>
	</div>
	<div class="main_nav_item">
		<a href="">点评管理</a>
	</div>
	<div class="main_nav_item">
		<a href="">点评管理</a>
	</div>
	<div class="main_nav_item">
		<a href="">用户管理</a>
	</div>
	<div class="main_nav_item no_bor">
		<a href="/Advise/MyAdivise">沟通帮助</a>
		<a class="nav_item @ViewBag.MyAdivise" href="/Advise/MyAdivise">投诉建议</a>
	</div>
</div>