@model SAS.Models.Gift

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Gift</legend>

        @Html.HiddenFor(model => model.GiftId)

        <div class="editor-label">
            @Html.LabelFor(model => model.HotelGiftId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HotelGiftId)
            @Html.ValidationMessageFor(model => model.HotelGiftId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HotelCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HotelCode)
            @Html.ValidationMessageFor(model => model.HotelCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateType)
            @Html.ValidationMessageFor(model => model.DateType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WeekSet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WeekSet)
            @Html.ValidationMessageFor(model => model.WeekSet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GiftContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiftContent)
            @Html.ValidationMessageFor(model => model.GiftContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GiftContentEn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiftContentEn)
            @Html.ValidationMessageFor(model => model.GiftContentEn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GiftTypes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiftTypes)
            @Html.ValidationMessageFor(model => model.GiftTypes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HourType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HourType)
            @Html.ValidationMessageFor(model => model.HourType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HourNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HourNumber)
            @Html.ValidationMessageFor(model => model.HourNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WayOfGiving)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WayOfGiving)
            @Html.ValidationMessageFor(model => model.WayOfGiving)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WayOfGivingOther)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WayOfGivingOther)
            @Html.ValidationMessageFor(model => model.WayOfGivingOther)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WayOfGivingOtherEn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WayOfGivingOtherEn)
            @Html.ValidationMessageFor(model => model.WayOfGivingOtherEn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hotel_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hotel_id)
            @Html.ValidationMessageFor(model => model.hotel_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.h_room_rp_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.h_room_rp_id)
            @Html.ValidationMessageFor(model => model.h_room_rp_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RatePlanId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RatePlanId)
            @Html.ValidationMessageFor(model => model.RatePlanId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
