@model SAS.Models.Gift

@{
    //所有酒店列表

    List<SAS.Models.hotel_info> hotels = ViewData["hotels"] as List<SAS.Models.hotel_info>;

    //所有酒店对应的房型列表
    List<SAS.Models.hotel_room_info> rooms = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;

    //礼包
    List<SAS.Models.Gift> gifts = ViewData["gift"] as List<SAS.Models.Gift>;

    ViewBag.Title = "设置礼包";
    ViewBag.Description = "设置礼包";
    ViewBag.gift = "set";

    int i = 0;
    
}
@using (Html.BeginForm("Create", "Gift", FormMethod.Post))
{
    <div id="DrrRule" class="box_a">
        <h2>公寓:
        <select name="" id="hotel_switch_gift">
            @foreach (var h in hotels)
            {
                if (h.hotel_id == ViewBag.Id)
                {
                <option value="@h.hotel_id" selected>@h.h_name_cn</option>
                    
                }
                else
                {
                <option value="@h.hotel_id">@h.h_name_cn</option>
                    
                }
            }
        </select>
        </h2>
        @{i++;}
        <div class='hotel_drr'>
            <table cellspacing="0">
                <tbody>
                    <tr>
                        <th>礼包描述</th>
                        <th>礼包日期</th>
                        <th>适用房型</th>
                        <th>操作</th>
                    </tr>
                    @if (gifts.Count==0)
                    {
                        <tr>
                            <td colspan="4">请添加礼包</td>
                        </tr>
                    }else{
                        foreach (var item in gifts)
                        { 
                            <tr>
                                <td>@item.GiftContent</td>
                                <td>@(item.StartDate.Value.ToString("yyyy-MM-dd"))至@(item.EndDate.Value.ToString("yyyy-MM-dd"))</td>
                                <td>@item.roomNames</td>
                                <td><a href="/Gift/updateG?id=@item.GiftId">修改</a>|<a href="/Gift/deleteG?id=@item.GiftId">删除</a></td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
            <br>
            <p><span class="btn_d set">@ViewBag.title</span></p>
            <div class="box_b">
                <div class="clear">
                    <div class="float_l">
                        <div class="input_line">
                            <span class="label">礼包描述：</span>
                        </div>
                    </div>
                    <div class="float_l">
                        <p class="input_line">
                            <textarea name="@Html.DisplayNameFor(model => model.GiftContent)" id="GiftContent" cols="80" rows="5">@Model.GiftContent</textarea>
                        </p>
                    </div>
                </div>
                <p id="double_date" class="input_line">
                    <label for="">
                        <span class="label">礼包日期：</span>
                        <input readonly="readonly" type="text" name="@Html.DisplayNameFor(model => model.StartDate)" class="date_start laydate-icon"  value="@Model.StartDate.Value.ToString("yyyy-MM-dd")">至<input readonly="readonly" type="text" name="@Html.DisplayNameFor(model => model.EndDate)" class="date_end laydate-icon" value="@Model.StartDate.Value.ToString("yyyy-MM-dd")">
                    </label>
                </p>
                <!-- 适用房型 -->
                <div class="clear">
                    <div class="float_l">
                        <div class="input_line"><span class="label">适用房型：</span></div>
                    </div>
                    <div class="float_l checkbox_box">
                        <p class="input_line"><a class="all_set" href="">全选</a><a class="reverse_set" href="">反选</a></p>
                        <p class="input_line">
                            <input id="rooms" type="text" class="hide" name="@Html.DisplayNameFor(model => Model.RoomIds)" value="@Model.RoomIds">
                            <input id="rooms_text" type="text" class="hide" name="@Html.DisplayNameFor(model => Model.roomNames)" value="@Model.roomNames">
                            @foreach (var item in rooms)
                            {   
                                <label class="w_sn">
                                    <input type="checkbox" class="multiple"  value="@item.room_id"><span class="" title="@item.h_r_name_cn">@item.h_r_name_cn</span></label>
                            }
                        </p>
                    </div>
                </div>
                <a id="btn_add_drr" href="" class="btn_b checking_btn">@ViewBag.buttonName</a>
                @if(ViewBag.cancel == 1){
                    <a href="/Gift/MyGift?id=@ViewBag.Id" class="btn_b m_l20">取消</a>
                }
            </div>
        </div>
        <input class="hide" type="text" name="@Html.DisplayNameFor(model => Model.hotel_id)" value="@ViewBag.Id" />
        <input class="hide" type="text" name="@Html.DisplayNameFor(model => Model.GiftId)" value="@Model.GiftId" />
    </div>
             
}

<!-- 日期控件 -->
<script type="text/javascript" src="@Url.Content("~/Content/public/script/laydate/laydate.dev.js")"></script>
<script>
    // 比较xxxx-xx-xx格式的日期
    function comparisonDate(start,end) {
        if (!start||!end) {
            return;
        };
        var start_arr = start.split("-"),
            end_arr = end.split("-"),
            startTime = new Date(),
            endTime = new Date();
        startTime.setFullYear(start_arr[0]);
        startTime.setMonth(start_arr[1]-1);
        startTime.setDate(start_arr[2]);
        startTime.setHours(0);
        startTime.setMinutes(0);
        startTime.setSeconds(0);
        startTime = startTime.setMilliseconds(0);
        endTime.getTime();
        endTime.setFullYear(end_arr[0]);
        endTime.setMonth(end_arr[1]-1);
        endTime.setDate(end_arr[2]);
        endTime.setHours(0);
        endTime.setMinutes(0);
        endTime.setSeconds(0);
        endTime.setMilliseconds(0);
        endTime = endTime.getTime();
        return startTime-endTime;
    }

    var end_node = document.getElementsByClassName('date_end')[0],
        start_node = document.getElementsByClassName('date_start')[0];

    var start = {
        elem: '#double_date .date_start',
        min: laydate.now(), //设定最小日期为当前日期
        istoday: false,
        choose: function (datas) {
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
            if (comparisonDate(start_node.value,end_node.value)>0) {
                end_node.value = start_node.value;
            };
        }
    };
    var end = {
        elem: '#double_date .date_end',
        min: laydate.now(),
        istoday: false,
        choose: function (datas) {
            start.max = datas; //结束日选好后，充值开始日的最大日期
            if (comparisonDate(start_node.value,end_node.value)>0) {
                start_node.value = end_node.value;
            };
        }
    };
    laydate(start);
    laydate(end);
</script>
