@model SAS.Models.Hotel_comment_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Hotel_comment_info</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.guid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.guid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.orderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orderID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.commentSourceId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.commentSourceId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.createTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.locations)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.locations)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tel_mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tel_mobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.recommendType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.recommendType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.room_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.room_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.room_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.room_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hotel_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hotel_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.commentTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.commentTypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_count)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_count)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsReply)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsReply)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.answer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.answer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.answer_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.answer_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sign)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sign)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.commentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
