@model SAS.Models.Hotel_comment_info

@{
    ViewBag.Title = "评论管理";
    ViewBag.query_comment = "set";
    ViewBag.url = "/Comment/QueryComment?hotelId=" + ViewBag.curentHotelId + "&startTime=" + ViewBag.curentstartTime + "&endTime=" + ViewBag.curentendTime + "&page=";

    //酒店列表
    List
<SAS.Models.hotel_info>
    hotels = ViewData["hotels"] as List
    <SAS.Models.hotel_info>
        ;
}
        
        <div id="content" class="box_a">
            <input id="sign_status" class="hide" type="text" value="@ViewBag.sign" />
            <p id="double_date" class="input_line bill_query">
                <span class="label" style="margin-left: 0">公寓</span>
                <select id="comment_hotel" name="">
                    <option value="">所有公寓</option>
                    @foreach (var h in hotels)
            {
                if (h.hotel_id == ViewBag.currentHotelId)
                {
                    
                    <option value="@h.hotel_id" selected>@h.h_name_cn</option>
                    }
                else
                {
                    <option value="@h.hotel_id">@h.h_name_cn</option>
                    }
            }
                </select>
                <span class="label">状态</span>
                <select id="IsReply">
                    <option value="">全部</option>
                    <option value="0" @(ViewBag.IsReply=="0"?"selected":"")>未回复</option>
                    <option value="1" @(ViewBag.IsReply=="1"?"selected":"")>已回复</option>
                </select>
                <span class="label">点评日期</span>
                <input class="date_start w100" type="text" name=""  value="@ViewBag.curentstartTime">
                到
                <input class="date_end w100" type="text" name=""  value="@ViewBag.curentendTime">

                <a href="" id="comment_btn" class="btn_b">查询</a>
            </p>
            <table cellspacing="0">
                <tbody>
                    <tr>
                        <th>订单号</th>
                        <th>评价</th>
                        <th>入住人</th>
                        <th>入离店住日期及房型</th>
                        <th class="w100">操作</th>
                        <th>状态</th>
                    </tr>

                    <!-- 表格数据 -->
                    @foreach (var c in Model.CommnetList)
                    {
                    <tr>
                        <td>@c.orderID</td>
                        <td class="comment_visitor">
                            <pre >@c.content</pre>
                            <p class="comment_time">@c.createTime.Value.ToShortDateString()</p>
                            
                        @if(c.IsReply){
                            <p>回复：<pre class="comment_answer">@c.answer</pre></p>
                        }else{
                         <div class="comment_p">
                           @using (Html.BeginForm("CommentSubmit", "Comment", FormMethod.Post))
                            {
                                <input class="hide" name="@Html.DisplayNameFor(o=>o.commentId)" value="@c.commentId" />
                                <input class="hide" name="@Html.DisplayNameFor(o=>o.hotel_id)" value="@c.hotel_id" />
                                <input class="hide" name="page" value="@ViewBag.curentPage" />
                                <textarea cols="50" rows="4" name="@Html.DisplayNameFor(o=>o.content)"></textarea>
                                <a href="" class="comment_submit_btn btn_b" comment_id="">回复</a>
                            }
                        </div>
                          }
                            
                        </td>
                        <td>@c.userName</td>
                        <td>@c.room_name</td>
                        <td>
                            @if(!c.IsReply){
                                <a href="" class="show_comment_reply">回复</a>
                            }
                            
                        </td>
                        <td>@(c.IsReply?"已回复":"未回复")</td>
                    </tr>
                    }
                    @if(Model.CommnetList.Count==0){
                    <!-- 没有评论 -->
                    <tr>
                        <td colspan="9">没有评论</td>
                    </tr>
                    }
                </tbody>
            </table>
    
<!-- 分页 -->
    @if(Convert.ToInt32(ViewBag.allPage) != 0){
    <div id="page_number_box">
        @if (Convert.ToInt32(ViewBag.curentPage) != 1)
        {
            <a href="@(ViewBag.url + (Convert.ToInt32(ViewBag.curentPage) - 1))" class="page_n">上一页</a>
        }
        @if (Convert.ToInt32(ViewBag.curentPage) < 5)
        {
            for (int i = 0; i < ((Convert.ToInt32(ViewBag.allPage) > 5 ? 5 : Convert.ToInt32(ViewBag.allPage) - 1)); i++)
            {
             <a href="@(ViewBag.url + (i + 1))" class="page_n @(Convert.ToInt32(ViewBag.curentPage) == i + 1 ? "set" : "")">@(i + 1)</a>
            }
        }
        @if (Convert.ToInt32(ViewBag.curentPage) > 4)
        {
            <a href="@(ViewBag.url + 1)" class="page_n">1</a>
            <span>......</span>
            if (Convert.ToInt32(ViewBag.allPage) - Convert.ToInt32(ViewBag.curentPage) > 2)
            {
                for (int i = 0; i < (Convert.ToInt32(ViewBag.allPage) - 3 > 5 ? 5 : Convert.ToInt32(ViewBag.allPage) - 3); i++)
                {
                 <a href="@(ViewBag.url + (i + Convert.ToInt32(ViewBag.curentPage) - 2))" class="page_n @(Convert.ToInt32(ViewBag.curentPage) == (i + Convert.ToInt32(ViewBag.curentPage) - 2) ? "set" : "")">@(i + Convert.ToInt32(ViewBag.curentPage) - 2)</a>
                }
            }
            else
            {

                for (int i = 0; i < (Convert.ToInt32(ViewBag.allPage) > 5 ? 4 : Convert.ToInt32(ViewBag.allPage) - 1); i++)
                {
                 <a href="@(ViewBag.url + (Convert.ToInt32(ViewBag.allPage) - 4 + i))" class="page_n @(Convert.ToInt32(ViewBag.curentPage) == (Convert.ToInt32(ViewBag.allPage) - 4 + i) ? "set" : "")">@(Convert.ToInt32(ViewBag.allPage) - 4 + i)</a>
                }
            }
        }
        @if (Convert.ToInt32(ViewBag.allPage) - Convert.ToInt32(ViewBag.curentPage) > 3)
        {
            <span>......</span>
        }
        <a href="@(ViewBag.url + ViewBag.allPage)" class="page_n @(Convert.ToInt32(ViewBag.curentPage) == ViewBag.allPage ? "set" : "")">@ViewBag.allPage</a>
        @if (Convert.ToInt32(ViewBag.curentPage) != Convert.ToInt32(ViewBag.allPage))
        {
            <a href="@(ViewBag.url + (Convert.ToInt32(ViewBag.curentPage) + 1))" class="page_n">下一页</a>
        }
    </div>
    }

                </div>
                    <!-- 日期控件 -->
                    <script type="text/javascript" src="@Url.Content("~/Content/public/script/laydate/laydate.dev.js")"></script>
                    <script>
    // 比较xxxx-xx-xx格式的日期
    function comparisonDate(start,end) {
        if (!start||!end) {
            return;
        };
        var start_arr = start.split("-"),
            end_arr = end.split("-"),
            startTime = new Date(),
            endTime = new Date();
        startTime.setFullYear(start_arr[0]);
        startTime.setMonth(start_arr[1]-1);
        startTime.setDate(start_arr[2]);
        startTime.setHours(0);
        startTime.setMinutes(0);
        startTime.setSeconds(0);
        startTime = startTime.setMilliseconds(0);
        endTime.getTime();
        endTime.setFullYear(end_arr[0]);
        endTime.setMonth(end_arr[1]-1);
        endTime.setDate(end_arr[2]);
        endTime.setHours(0);
        endTime.setMinutes(0);
        endTime.setSeconds(0);
        endTime.setMilliseconds(0);
        endTime = endTime.getTime();
        return startTime-endTime;
    }

    var end_node = document.getElementsByClassName('date_end')[0],
        start_node = document.getElementsByClassName('date_start')[0];

    var start = {
        elem: '#double_date .date_start',
        //min: laydate.now(), //设定最小日期为当前日期
        istoday: false,
        choose: function (datas) {
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
            if (comparisonDate(start_node.value,end_node.value)>0) {
                end_node.value = start_node.value;
            };
        }
    };
    var end = {
        elem: '#double_date .date_end',
        //min: laydate.now(),
        istoday: false,
        choose: function (datas) {
            //start.max = datas; //结束日选好后，充值开始日的最大日期
            if (comparisonDate(start_node.value,end_node.value)>0) {
                start_node.value = end_node.value;
            };
        }
    };
    laydate(start);
    laydate(end);

    var action = document.getElementById('sign_status').value;
    if(action !== ""){
        alert(action==="0"?"提交失败":"提交成功");
    }
</script>