@*@model IEnumerable<SAS.Models.hotel_info>*@
@model SAS.Models.hotel_info

@{
    ViewBag.Title = "新建公寓-录入基本信息";
    ViewBag.Description = "新建公寓";
    ViewBag.Keywords = "新建公寓";
    string f = Model.h_name_cn;
    Dictionary<int, String> hotel_class = ViewData["Category"] as Dictionary<int, string>;
    
    Dictionary<int, String> hotel_theme = ViewData["Themes"] as Dictionary<int,string>;

    Dictionary<int, String> hotel_province = ViewData["provice"] as Dictionary<int, string>;
    Array hotel_city = new string[] { "所在城市", "ddddd" };
    Array hotel_area = new string[] { "所在行政区", "ddddd" };
    Array hotel_district = new string[] { "所在商圈", "ddddd" };
    Array hotel_built_year = new string[]{ "2014年", "ddddd" };
    Array hotel_built_month = new string[]{ "5月", "ddddd" };
    Array hotel_decoration_time_year = new string[]{ "2014年", "ddddd" };
    Array hotel_decoration_time_month = new string[]{ "5月", "ddddd" };

    Dictionary<int, String> hotel_facilitys = ViewData["facilities"] as Dictionary<int, string>;
 

    Dictionary<int, String> hotel_services = ViewData["services"] as Dictionary<int, string>;


    Dictionary<int, String> room_facilitys = new Dictionary<int, string>();
    room_facilitys.Add(0, "XXX");
    room_facilitys.Add(1, "XX");
    room_facilitys.Add(2, "XXXXXXXXXXXXXXX");
    room_facilitys.Add(3, "XXXXXXXXXXXXXXXXXXXXXXXX");
   
}

@using(Html.BeginForm("Create","AddHotel",FormMethod.Post))
{
<div id="flag_box">
	<a href="" class="btn_c set">1 录入公寓信息</a>
	<a href="" class="btn_c">2 录入房型</a>
	<a href="" class="btn_c">3 录入房价</a>
	<a href="" class="btn_c">4 录入图片</a>
</div>
<div class="box_a">
	<div class="from_path">
		<h2>录入基本信息</h2>
		<p class="input_line">
			<label for="hotel_name"><span class="label">名称</span><input name="@Html.DisplayNameFor(model => model.h_name_cn)" type="text"  value="@Model.h_name_cn" id="hotel_name"><span class="col_red">*</span></label>
             @Html.ValidationMessageFor(model => model.h_name_cn)
			<label for="hotel_class">
				<span class="label">所属类别</span>
				<select name="@Html.DisplayNameFor(model => model.h_t_id)" id="hotel_class">
	                <option value="" >请选择</option>
					@foreach(var opt in hotel_class){
	                    <option value="@opt.Key" >@opt.Value</option>                    
	                }
				</select>
				<span class="col_red">*</span>
			</label>
			<label for="hotel_theme">
				<span class="label">公寓主题</span>
                 
            @*@Html.DropDownListFor(m=>m.theme.hotel_theme_title,ViewData["sl"] as SelectList);*@

				<select name="@Html.DisplayNameFor(model => model.hotel_theme_id)" id="hotel_theme">
	                <option value="" >请选择</option>
					@foreach(var opt in hotel_theme){
	                    <option value="@opt.Key">@opt.Value</option>                    
	                }
				</select>
				<span class="col_red">*</span>
			</label>
		</p>
		<p class="input_line">
			<label for="@Html.DisplayNameFor(model => model.h_tel)">
				<span class="label">电话</span>
				<input id="phone" type="text" class="hide" name="@Html.DisplayNameFor(model => model.h_tel)">
				<input type="text" id="phone_area_code">-<input type="text" id="hotel_phone">
				<span class="col_red">*</span>
                @Html.ValidationMessageFor(model => model.h_tel)
			</label>
			<label for="@Html.DisplayNameFor(model => model.h_fax)">
				<span class="label">传真</span>
				<input id="hotel_fax" type="text" name="@Html.DisplayNameFor(model => model.h_fax)">
			</label>
			<label for="****改成name****">
				<span class="label">手机号码</span>
				<input id="mobeli_phone" type="text" name="@Html.DisplayNameFor(model => model.h_mobile_phone)">
			</label>
		</p>
		<p class="input_line">
			<span class="label">地址及所在商区</span><select name="@Html.DisplayNameFor(model => model.h_province)" id="hotel_province">
	            <option value="" >请选择</option>
				@foreach(var opt in hotel_province){
					<option value="@opt.Key">@opt.Value</option>                    
				}
			</select>
			<select id="h_city" name="@Html.DisplayNameFor(model => model.h_city)" disabled>
	            <option value="" >所在城市</option>
			</select>
			<select id="h_administrative_region" name="@Html.DisplayNameFor(model => model.h_administrative_region)" disabled>
	            <option value="" >所在行政区</option>
			</select>
			<select id="h_business_zone" name="@Html.DisplayNameFor(model => model.h_business_zone)" disabled>
	            <option value="" >所在商圈</option>
			</select>
			<span class="col_red">*</span>
		</p>
		<p class="input_line">
			<label for="hotel_address">
				<span class="label">详细街道地址</span><input type="text" id="hotel_address" name="@Html.DisplayNameFor(model => model.h_location_cn)">
				<span class="col_red">*</span>
			</label>
		</p>
		<div class="clear">
			<div class="float_l">
				<p class="input_line">
					<span class="label">地图位置</span>
				</p>
			</div>
			<div id="location_box" class="float_l">
				<a href="" class="e_tab btn_d set">在地图上定位</a><a href="" class="e_tab btn_d">输入经纬底定位</a>
				<input id="map_lon_input" class="hide" type="text" name="@Html.DisplayNameFor(model => model.BaiduLon)"><input id="map_lat_input" class="hide" type="text" name="@Html.DisplayNameFor(model => model.BaiduLat)">
				<p class="float_r"><span id="map_lon_text">--</span>,<span id="map_lat_text">--</span></p>
				<div class="box_b e_tab_box">
					<div id="maps_input_box"></div>
				</div>
				<div id="location_input_box" class="box_b e_tab_box hide">
					经度：<input id="map_lon" type="text">纬度：<input id="map_lat" type="text">
				</div>
			</div>
		</div>
	</div>
	<div class="from_path">
		<h2>录入详细信息</h2>
		<p class="input_line">
			<label for="hotel_built">
				<span class="label">开业时间</span><select name="@Html.DisplayNameFor(model => model.h_opening_time)" id="hotel_built_year">
					@foreach(var opt in hotel_built_year){
						<option value="@opt">@opt</option>                    
					}
				</select>
				<select name="hotel_built_month" id="hotel_built_month">
					@foreach(var opt in hotel_built_month){
						<option value="@opt">@opt</option>                    
					}
				</select>
			</label>
			<label for="hotel_decoration_time_year">
				<span class="label">装修时间</span><select name="@Html.DisplayNameFor(model => model.DecorateTime)" id="hotel_decoration_time_year">
					@foreach(var opt in hotel_decoration_time_year){
						<option value="@opt">@opt</option>                    
					}
				</select>
				<select name="hotel_decoration_time_month" id="hotel_decoration_time_month">
					@foreach(var opt in hotel_decoration_time_month){
						<option value="@opt">@opt</option>                    
					}
				</select>
			</label>
			<label for="hotel_building">
				<span class="label">公寓楼高</span><input type="text" id="hotel_building" name="@Html.DisplayNameFor(model => model.Floor)">
				<span class="col_red">*</span>
			</label>
			<label for="hotel_room_count">
				<span class="label">房间总数</span>
				<input type="text" id="hotel_room_count" name="@Html.DisplayNameFor(model => model.h_room_count)">
				<span class="col_red">*</span>
			</label>
		</p>
		<p class="input_line"><label for="hotel_specialty">
				<span class="label">公寓特色</span><input type="text" id="hotel_specialty" name="@Html.DisplayNameFor(model => model.Features)">
				<span class="col_red">*</span>
			</label>
		</p>
		<div class="clear">
			<div class="float_l">
				<p class="input_line">
					<label for="hotel_abstract"><span class="label">公寓简介</span></label>
				</p>
			</div>
			<div class="float_l">
				<p class="input_line">
					<textarea name="@Html.DisplayNameFor(model => model.IntroEditor)" id="hotel_abstract" cols="80" rows="5"></textarea>
				</p>
			</div>
			<div class="float_l">
				<p class="input_line"><span class="col_red">*</span></p>
			</div>
		</div>
		<div class="clear">
			<div class="float_l">
				<label for="hotel_place"><span class="label">交通位置</span></label>
			</div>
			<div class="float_l">
				<p class="input_line">
					<textarea name="@Html.DisplayNameFor(model => model.h_traffic_position)" id="hotel_place" cols="80" rows="5"></textarea>
				</p>
			</div>
			<div class="float_l">
				<p class="input_line"><span class="col_red">*</span></p>
			</div>
		</div>
		<p class="input_line">
			<span class="label">可接受的信用卡</span>
          	<input id="cards" class="hide" type="text" name="@Html.DisplayNameFor(model => model.CreditCards)" value="" />
			<label for="visa"><input id="visa" class="multiple" type="checkbox" name="visa" value="visa"><span class="card visa"></span></label>
			<label for="master"><input id="master" class="multiple" type="checkbox" name="hotel_card" value="master"><span class="card master"></span></label>
			<label for="amex"><input id="amex" class="multiple" type="checkbox" name="hotel_card" value="amex"><span class="card amex"></span></label>
			<label for="jcb"><input id="jcb" class="multiple" type="checkbox" name="hotel_card" value="jcb"><span class="card jcb"></span></label>
			<label for="unionpay"><input id="unionpay" class="multiple" type="checkbox" name="hotel_card" value="unionpay"><span class="card unionpay"></span></label>
			<label for="dinersclub"><input id="dinersclub" class="multiple" type="checkbox" name="hotel_card" value="dinersclub"><span class="card dinersclub"></span></label>
		</p>
	</div>
	<div class="from_path">
		<h2>录入设施与服务</h2>
		<div class="clear">
			<div class="float_l">
				<div class="input_line"><span class="label">公寓配套</span></div>
			</div>
			<div class="float_l checkbox_box">
                <input class="hide" type="text" name="@Html.DisplayNameFor(model => model.Facilities)" value="" />
                <p class="input_line">
					@foreach(var facility in hotel_facilitys){   
				        <label class="w_sn"><input class="multiple" type="checkbox" name="facilit" value="@facility.Key"><span class="hotel_facility" title="@facility.Value">@facility.Value</span></label>
	                }					
            	</p>
			</div>
		</div>
		<div class="clear">
			<div class="float_l">
				<div class="input_line"><span class="label">公寓服务</span></div>
			</div>
			<div class="float_l checkbox_box">
                <input class="hide" type="text" name="@Html.DisplayNameFor(model => model.GeneralAmenities)" value="" />
				<p class="input_line">
					@foreach(var service in hotel_services){
				        <label class="w_sn"><input class="multiple" type="checkbox" name="service" value="@service.Key"><span class="hotel_service" title="@service.Value">@service.Value</span></label>
	                }					
				</p>
			</div>
		</div>
	</div>
	<div class="btn_box">
		<a href="javascript:document.forms[0].submit()" id="save_hotel_info" class="btn_a btn_save_step">保存进入下一步</a>
        <input class="hide" type="submit"  value="Create" />
	</div>
</div>

<!-- 地图 -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=XvswfQtzH5kPt2s7GPYAuTIF"></script>
<script type="text/javascript">

    var sContent = "<div>" + "<p>可以拖动，请放置在房屋所在位置。</p>" + "</div>";
    // 百度地图API功能
    var map = new BMap.Map("maps_input_box");
    map.addControl(new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_SMALL }));  //右上角，仅包含平移和缩放按钮。
    var point = new BMap.Point(116.400244, 39.92556);
    map.centerAndZoom(point, 12);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中
    marker.enableDragging();    //可拖拽
    map.enableScrollWheelZoom();//可以鼠标滚动 缩放比例尺
  

    map.addEventListener("click", function (e) { mapClick(e.point.lng, e.point.lat); });



    function mapClick(lng, lat) {

        map.clearOverlays();
        var currentPoint = new BMap.Point(lng, lat);
        var marker = new BMap.Marker(currentPoint);
        marker.enableDragging();
        $("#Longtitude").val(lng);
        $("#Latitude").val(lat);
        $("#HasLatLong").val("True");

        marker.addEventListener("dragend", function (e) {
            var currentZoom = map.getZoom();
            var cp = new BMap.Point(e.point.lng, e.point.lat);
            map.setCenter(cp);
            $("#Longtitude").val(e.point.lng);
            $("#Latitude").val(e.point.lat);
            $("#HasLatLong").val("True");
            var p = marker.getPosition();//获取marker的位置
            set_map_val(p);
            // alert("marker的位置是" + p.lng + "," + p.lat);
        });
        map.addOverlay(marker);
        var infoWindow = new BMap.InfoWindow(sContent);
        marker.addEventListener("click", function () {
            this.openInfoWindow(infoWindow);
        });
        var p = marker.getPosition();//获取marker的位置
        set_map_val(p);
        // alert("marker的位置是" + p.lng + "," + p.lat);
        //setTimeout(function () { marker.openInfoWindow(infoWindow); }, 1000);
        //map.setCenter(currentPoint);
    }

    function set_map_val (p) {
    	$("#map_lon_input").val(p.lng);
    	$("#map_lat_input").val(p.lat);
    	$("#map_lon_text").text(p.lng);
    	$("#map_lat_text").text(p.lat);
    }

</script>

}