@model SAS.Models.hotel_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>hotel_info</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.h_name_cn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.h_name_cn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.h_location_cn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.h_location_cn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.h_description_cn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.h_description_cn)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.hotel_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
