@model IEnumerable<SAS.Models.hotel_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.h_name_cn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h_location_cn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h_description_cn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.h_name_cn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h_location_cn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h_description_cn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.hotel_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.hotel_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.hotel_id })
        </td>
    </tr>
}

</table>
