@model SAS.Models.hotel_info
@{
    ViewBag.Title = "新建公寓-修改公寓信息";
    ViewBag.Description = "修改公寓信息";
    ViewBag.Keywords = "修改公寓信息";
    ViewBag.my_apart_ment = "set";        
    
    string f = Model.h_name_cn;
    Dictionary<int, String> hotel_class = ViewData["Category"] as Dictionary<int, string>;

    Dictionary<int, String> hotel_theme = ViewData["Themes"] as Dictionary<int, string>;

    //装修时间
    List<string> DTimes = ViewData["DTime"] as List<string>;

    Dictionary<int, String> hotel_province = ViewData["provice"] as Dictionary<int, string>;

    string[] month = new string[] { "1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月","10月", "11月", "12月" };

    Dictionary<int, String> hotel_facilitys = ViewData["facilities"] as Dictionary<int, string>;


    Dictionary<int, String> hotel_services = ViewData["services"] as Dictionary<int, string>;


    }

@using(Html.BeginForm("Hotel","MyApartMent",FormMethod.Post))
{
    
<div id="flag_box">
	<span href="" class="btn_c set">1 录入公寓信息</span>
	<span href="" class="btn_c">2 录入房型</span>
	<span href="" class="btn_c">3 录入房价</span>
	<span href="" class="btn_c">4 录入图片</span>
</div>

		
		
			<label for="hotel_name"><span class="label">名称</span><input name="@Html.DisplayNameFor(model => model.h_name_cn)" type="text"  value="@Model.h_name_cn" id="hotel_name"><span class="col_red">*</span></label>
             @Html.ValidationMessageFor(model => model.h_name_cn)
		
				<span class="label">所属类别</span>
				<select name="@Html.DisplayNameFor(model => model.h_t_id)" id="hotel_class">
	                <option value="" >请选择</option>
     @foreach (var opt in hotel_class)
     {
          if (Model.h_t_id == opt.Key)
         {
	                    <option value="@opt.Key" selected>@opt.Value</option>                    
         }
         else
         {
	                    <option value="@opt.Key" >@opt.Value</option>
          }                          
     }
                   </select>
   }     
                  


