@model SAS.Models.DrrRule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DrrRule</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckInNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckInNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EveryCheckInNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EveryCheckInNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastDayNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastDayNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhichDayNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhichDayNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CashScale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CashScale)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeductNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeductNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WeekSet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeekSet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeeType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeeType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hotel_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hotel_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.h_room_rp_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.h_room_rp_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RatePlanId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RatePlanId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
