@model SAS.Models.DrrRules

@{
    //所有酒店列表

    List<SAS.Models.hotel_info> hotels = ViewData["hotels"] as List<SAS.Models.hotel_info>;

    //所有酒店对应的房型列表
    List<SAS.Models.hotel_room_info> rooms = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;
    //促销信息列表
    List<SAS.Models.DrrRules> Drrs = ViewData["drrs"] as List<SAS.Models.DrrRules>;
    //促销规则
    List<SAS.Models.DrrModes> DrrModes = ViewData["drrModes"] as List<SAS.Models.DrrModes>;
    
      
    ViewBag.Title = "MyDrr";
    int i = 0;
}

<div id="DrrRule" class="box_a">
    <h2>公寓:
        <select name="" >
            @foreach (var h in hotels)
            {
                <option value="@h.h_name_cn">@h.h_name_cn</option>
            }
        </select>
    </h2>
    @foreach (var h in hotels)
    {
        var Rooms = rooms.Where(r => r.hotel_id == h.hotel_id);
        i++;
    <div class='@(i < 2 ? "show" : "hide")'>
        
        <table cellspacing="0">
            <tbody>
                <tr>
                    <th>促销规则</th>
                    <th>促销日期</th>
                    <th>适用房型</th>
                    <th>操作</th>
                </tr>
                @foreach (var item in Drrs)
                { 
                <tr>
                    <td>@item.Description</td>
                    <td>@(item.StartDate)至@(item.EndDate)</td>
                    <td>@item.RoomNames</td>
                    <td><a href="@item.id">修改</a>|<a href="">删除</a></td>
                </tr>
                }

            </tbody>
        </table>
        <br>
        <p><span class="btn_d set">设置促销规则</span></p>
        <div class="box_b">
            <p class="input_line">
                <label for="">
                    <span class="label">促销名称：</span>
                    <span>在某时间范围连住N晚N折</span>
                </label>
            </p>
            <p class="input_line">
                <label for="">
                    <span class="label">促销日期：</span>
                    <input type="text" class="date_start" value="@Model.StartDate">至<input type="text" class="date_end" value="@Model.EndDate">
                </label>
            </p>
            <p class="input_line">
                <label for="">
                    <span class="label">促销规则：</span>
                    连住
                    <input type="text" class="w50" value="@Model.CheckInNum">
                    晚打
                    <input type="text" class="w50" value="@Model.CashScale">
                    折
                </label>
            </p>
            <div class="clear">
                <div class="float_l">
                    <div class="input_line"><span class="label">适用房型：</span></div>
                </div>
                <div class="float_l checkbox_box">
                    <p class="input_line"><a class="all_set" href="">全选</a><a class="reverse_set" href="">反选</a></p>
                    <p class="input_line">
                        <input id="" type="text" class="hide" name="" value="@Model.RoomIds">
                        @foreach (var item in Rooms)
                        {   
                            <label class="w_sn"><input type="checkbox" class="multiple"  value=""><span class="">@item.h_r_name_cn</span></label>
                        }                   
                    </p>
                </div>
            </div>
            <a id="btn_add_drr" class="btn_b" href="">添加促销规则</a>
        </div>          
    </div>
    } 
</div>

<!-- 日期控件 -->
<script type="text/javascript" src="@Url.Content("~/Content/public/script/laydate/laydate.dev.js")"></script>
<script>
    var start = {
        elem: '#DrrRule .date_start',
        min: laydate.now(), //设定最小日期为当前日期
        istoday: false,
        choose: function(datas){
             end.min = datas; //开始日选好后，重置结束日的最小日期
             end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#DrrRule .date_end',
        min: laydate.now(),
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
</script>