@model SAS.Models.DrrRules

@{
    //所有酒店列表

    List<SAS.Models.hotel_info> hotels = ViewData["hotels"] as List<SAS.Models.hotel_info>;

    //所有酒店对应的房型列表
    List<SAS.Models.hotel_room_info> rooms = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;
    //促销信息列表

    List<SAS.Models.DrrRules> Drrs = ViewData["drrs"] as List<SAS.Models.DrrRules>;
    //促销规则
    List<SAS.Models.DrrModes> DrrModes = ViewData["drrModes"] as List<SAS.Models.DrrModes>;


    ViewBag.Title = "MyDrr";



    ViewBag.Title = "设置促销";
    ViewBag.Description = "设置促销";
    ViewBag.drrs = "set";

    int i = 0;
}

<div id="DrrRule" class="box_a">
    <h2>公寓:
        <select name="" id="hotel_switch">
            @foreach (var h in hotels)
            {
                <option value="@h.h_name_cn">@h.h_name_cn</option>
            }
        </select>
    </h2>
    @foreach (var h in hotels)
    {
        using (Html.BeginForm("Create", "DrrRule", FormMethod.Post))
        {
            var Rooms = rooms.Where(r => r.hotel_id == h.hotel_id);
            i++;
        <div class='@(i < 2 ? "show" : "hide") hotel_drr'>

            <table cellspacing="0">
                <tbody>
                    <tr>
                        <th>促销规则</th>
                        <th>促销日期</th>
                        <th>适用房型</th>
                        <th>操作</th>
                    </tr>
                    @foreach (var item in Drrs)
                    { 
                        <tr>
                            <td>@item.Description</td>
                            <td>@(item.StartDate)至@(item.EndDate)</td>
                            <td>@item.RoomNames</td>
                            <td><a href="@item.id">修改</a>|<a href="">删除</a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <br>
            <p><span class="btn_d set">设置促销规则</span></p>
            <div class="box_b">
                <!-- 促销名称 -->
                <p class="input_line">
                    <label for="">
                        <span class="label">促销名称</span>
                        <input type="text" name="@Html.DisplayNameFor(model => Model.DrrName)" value="@Model.DrrName">
                    </label>
                    <input class="hide" type="text" name="@Html.DisplayNameFor(model => Model.hotel_id)" value="@Model.hotel_id" />
                </p>

                <!-- 促销方式 -->
                <p class="input_line">
                    <label for="">
                        <span class="label">促销方式：</span>
                        <select name="@Html.DisplayNameFor(model => Model.TypeCode)" class="drr_modes">
                            @foreach (var item in DrrModes)
                            {
                                if (Model.TypeCode == item.Code)
                                {
                                <option value="@item.Code" selected>@item.Name</option>
                                }
                                else
                                {
                                <option value="@item.Code">@item.Name</option>
                                }
                            }
                        </select>
                    </label>
                </p>

                <!-- 促销日期 -->
                <p class="input_line">
                    <label for="">
                        <span class="label">促销日期：</span>
                        <input type="text" class="date_start" name="@Html.DisplayNameFor(model => Model.StartDate)" value="@Model.StartDate">至<input type="text" class="date_end" name="@Html.DisplayNameFor(model => Model.EndDate)" value="@Model.EndDate">
                    </label>
                </p>

                <!-- 促销规则 -->
                <div class="clear">
                    <div class="float_l">
                        <div class="input_line"><span class="label">促销规则：</span></div>
                    </div>
                    <div class="float_l drr_mode">

                        @if (Model.TypeCode == DrrModes[0].Code)
                        {
                            <p class="input_line ">
                                提前
                                <input type="text" class="w50 only_integer" name="@Html.DisplayNameFor(model =>
                                Model.DayNum)" value="@Model.DayNum">
                                天预订每间打
                                <input  class="w50 only_float" type="text" name="@Html.DisplayNameFor(model =>
                                Model.DeductNum)" value="@Model.DeductNum" >
                                折
                            </p>
                        }
                        else if (Model.TypeCode == DrrModes[1].Code)
                        {
                            <p class="input_line ">
                                连住
        <input type="text" class="w50 only_integer" name="@Html.DisplayNameFor(model =>
        Model.CheckInNum)" value="@Model.CheckInNum">
                                晚打
        <input  class="w50 only_float" type="text" name="@Html.DisplayNameFor(model =>
        Model.DeductNum)" value="@Model.DeductNum" >
                                折
                            </p>
                        }


                        <p class="input_line ">
                            提前
                        <input type="text" class="w50 only_integer" name="@Html.DisplayNameFor(model =>
                        Model.DayNum)" value="@Model.DayNum">
                            天预订每间打
                        <input  class="w50 only_float" type="text" name="@Html.DisplayNameFor(model =>
                        Model.DeductNum)" value="@Model.DeductNum" >
                            折
                        </p>
                    </div>
                </div>

                <!-- 适用房型 -->
                <div class="clear">
                    <div class="float_l">
                        <div class="input_line"><span class="label">适用房型：</span></div>
                    </div>
                    <div class="float_l checkbox_box">
                        <p class="input_line"><a class="all_set" href="">全选</a><a class="reverse_set" href="">反选</a></p>
                        <p class="input_line">
                            <input id="" type="text" class="hide" name="@Html.DisplayNameFor(model => Model.RoomIds)" value="@Model.RoomIds">
                            @foreach (var item in Rooms)
                            {   
                                <label class="w_sn">
                                    <input type="checkbox" class="multiple"  value="@item.room_id"><span class="" title="@item.h_r_name_cn">@item.h_r_name_cn</span></label>
                            }
                        </p>
                    </div>
                </div>
                <a id="btn_add_drr" href="javascript:document.forms[@(i-1)].submit()" class="btn_b">添加促销规则</a>
            </div>
        </div>
        }
    }
</div>

<!-- 设置促销的方式 -->
<div class="hide drr_modes">
    <p class="input_line ">
        提前
        <input type="text" class="w50 only_integer" name="@Html.DisplayNameFor(model =>
        Model.DayNum)" value="@Model.DayNum">
        天预订每间打
        <input  class="w50 only_float" type="text" name="@Html.DisplayNameFor(model =>
        Model.DeductNum)" value="@Model.DeductNum" >
        折
    </p>
    <p class="input_line ">
        连住
        <input type="text" class="w50 only_integer" name="@Html.DisplayNameFor(model =>
        Model.CheckInNum)" value="@Model.CheckInNum">
        晚打
        <input  class="w50 only_float" type="text" name="@Html.DisplayNameFor(model =>
        Model.DeductNum)" value="@Model.DeductNum" >
        折
    </p>
</div>

<!-- 日期控件 -->
<script type="text/javascript" src="@Url.Content("~/Content/public/script/laydate/laydate.dev.js")"></script>
<script>
    var start = {
        elem: '#DrrRule .date_start',
        min: laydate.now(), //设定最小日期为当前日期
        istoday: false,
        choose: function (datas) {
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#DrrRule .date_end',
        min: laydate.now(),
        istoday: false,
        choose: function (datas) {
            start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
</script>
