@model SAS.Models.DrrRules

@{
    //所有酒店列表

    List<SAS.Models.hotel_info> hotels = ViewData["hotels"] as List<SAS.Models.hotel_info>;

    //所有酒店对应的房型列表
    List<SAS.Models.hotel_room_info> rooms = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;
    //促销信息列表

    List<SAS.Models.DrrRules> Drrs = ViewData["drrs"] as List<SAS.Models.DrrRules>;
    //促销规则
    List<SAS.Models.DrrModes> DrrModes = ViewData["drrModes"] as List<SAS.Models.DrrModes>;


    //ViewBag.Title = "MyDrr";



    ViewBag.Title = ViewBag.title;
    ViewBag.Description = ViewBag.title;
    ViewBag.drrs = "set";

    int i = 0;
}

<div id="DrrRule" class="box_a">
    <h2>公寓:
        <select name="" id="hotel_switch_my_drr">
            @foreach (var h in hotels)
            {
                if (h.hotel_id == ViewBag.Id)
                {
                <option value="@h.hotel_id" selected>@h.h_name_cn</option>
                    
                }
                else
                {
                <option value="@h.hotel_id">@h.h_name_cn</option>
                    
                }
            }
        </select>
    </h2>

    @using (Html.BeginForm("Create", "DrrRule", FormMethod.Post))
    {
        var Rooms = rooms;
        i++;
        <div class='hotel_drr'>

            <table cellspacing="0">
                <tbody>
                    <tr>
                        <th>促销名称</th>
                        <th>促销规则</th>
                        <th>促销日期</th>
                        <th>适用房型</th>
                        <th>操作</th>
                    </tr>
                    @foreach (var item in Drrs)
                    { 
                        <tr>
                            <td>@item.DrrName</td>
                            <td>@item.Description</td>
                            <td>@(item.StartDate.Value.ToShortDateString())至@(item.EndDate.Value.ToShortDateString())</td>
                            <td>@item.RoomNames</td>
                            <td><a href="/DrrRule/updateDrr?id=@item.id">修改</a>|<a href="/DrrRule/deleteDrr?id=@item.id">删除</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>
            <p><span class="btn_d set">@ViewBag.title</span></p>
            <div class="box_b">
                <!-- 促销名称 -->
                <p class="input_line">
                    <label for="">
                        <span class="label">促销名称：</span>
                        @if (string.IsNullOrEmpty(Model.DrrName))
                        {
                            <input id="drr_name" type="text" name="@Html.DisplayNameFor(model => Model.DrrName)" value="@Model.DrrName">
                            <span class="col_red">*</span>
                        }
                        else
                        {
                              
                            <b>@Model.DrrName</b> 
                        }


                    </label>
                    <input id="hotel_id" class="hide" type="text" name="@Html.DisplayNameFor(model => Model.hotel_id)" value="@ViewBag.Id" />
                    <input class="hide" type="text" name="@Html.DisplayNameFor(model => Model.id)" value="@Model.id" />
                </p>

                <!-- 促销方式 -->
                <p class="input_line">
                    <label for="">
                        <span class="label">促销方式：</span>
                        <select name="@Html.DisplayNameFor(model => Model.TypeCode)" class="drr_modes">
                            @foreach (var item in DrrModes)
                            {
                                if (Model.TypeCode == item.Code)
                                {
                                <option value="@item.Code" selected>@item.Name</option>
                                }
                                else
                                {
                                <option value="@item.Code">@item.Name</option>
                                }
                            }
                        </select>
                    </label>
                </p>

                <!-- 促销日期 -->
                <p class="input_line">
                    <span class="label">促销日期：</span>
                    <input readonly="readonly" type="text" class="date_start laydate-icon" name="@Html.DisplayNameFor(model => Model.StartDate)" value="@Model.StartDate.Value.ToShortDateString()">至<input readonly="readonly" type="text" class="date_end laydate-icon" name="@Html.DisplayNameFor(model => Model.EndDate)" value="@Model.EndDate.Value.ToShortDateString()">
                </p>

                <!-- 促销规则 -->
                <div class="clear">
                    <div class="float_l">
                        <div class="input_line"><span class="label">促销规则：</span></div>
                    </div>
                    <div class="float_l drr_mode">

                        @if (Model.TypeCode == DrrModes[0].Code || string.IsNullOrEmpty(Model.TypeCode))
                        {
                            <p class="input_line ">
                                提前
                                <input type="text" class="w50 only_integer" name="@Html.DisplayNameFor(model =>
                                Model.DayNum)" value="@Model.DayNum">
                                天预订每间打
                                <input  class="w50 only_float" type="text" name="@Html.DisplayNameFor(model =>
                                Model.DeductNum)" value="@Model.DeductNum" >
                                折
                            </p>
                            <p class="input_line hide">
                                连住
                                <input type="text" class="w50 only_integer" name="@Html.DisplayNameFor(model => Model.CheckInNum)" value="@Model.CheckInNum" not_validate="true">
                                晚打
                                <input  class="w50 only_float" type="text" name="@Html.DisplayNameFor(model => Model.DeductNum)" value="@Model.DeductNum" not_validate="true">
                                折
                            </p>
                        }
                        else if (Model.TypeCode == DrrModes[1].Code)
                        {
                           <p class="input_line hide">
                                提前
                                <input type="text" class="w50 only_integer" name="@Html.DisplayNameFor(model =>
                                Model.DayNum)" value="@Model.DayNum" not_validate="true">
                                天预订每间打
                                <input  class="w50 only_float" type="text" name="@Html.DisplayNameFor(model =>
                                Model.DeductNum)" value="@Model.DeductNum" not_validate="true">
                                折
                            </p>
                            <p class="input_line ">
                                连住
                                <input type="text" class="w50 only_integer" name="@Html.DisplayNameFor(model => Model.CheckInNum)" value="@Model.CheckInNum">
                                晚打
                                <input  class="w50 only_float" type="text" name="@Html.DisplayNameFor(model => Model.DeductNum)" value="@Model.DeductNum" >
                                折
                            </p>
                        }
                    </div>
                </div>

                <!-- 适用房型 -->
                <div class="clear">
                    <div class="float_l">
                        <div class="input_line"><span class="label">适用房型：</span></div>
                    </div>
                    <div class="float_l checkbox_box">
                        <p class="input_line"><a class="all_set" href="">全选</a><a class="reverse_set" href="">反选</a></p>
                        <p class="input_line">
                            <input id="rooms" type="text" class="hide" name="@Html.DisplayNameFor(model => Model.RoomIds)" value="@Model.RoomIds">
                            <input id="rooms_text" type="text" class="hide" name="@Html.DisplayNameFor(model => Model.RoomNames)" value="@Model.RoomNames">
                            @foreach (var item in Rooms)
                            {   
                                <label class="w_sn">
                                    <input type="checkbox" class="multiple"  value="@item.room_id"><span class="" title="@item.h_r_name_cn">@item.h_r_name_cn</span></label>
                            }
                        </p>
                    </div>
                </div>
                <a id="btn_add_drr" href="" class="btn_b checking_btn">@ViewBag.buttonName</a>
            </div>
        </div>
    }

</div>

<!-- 设置促销的方式 -->
<div id="drr_modes_hide" class="hide">
    <p class="input_line ">
        提前
        <input type="text" class="w50 only_integer day_num" name="@Html.DisplayNameFor(model =>
        Model.DayNum)" value="@Model.DayNum">
        天预订每间打
        <input class="w50 only_float deduct_num" type="text" name="@Html.DisplayNameFor(model =>
        Model.DeductNum)" value="@Model.DeductNum" >
        折
    </p>
    <p class="input_line ">
        连住
        <input type="text" class="w50 check_in_num only_integer" name="@Html.DisplayNameFor(model =>
        Model.CheckInNum)" value="@Model.CheckInNum">
        晚打
        <input  class="w50 only_float deduct_num" type="text" name="@Html.DisplayNameFor(model =>
        Model.DeductNum)" value="@Model.DeductNum" >
        折
    </p>
</div>

<!-- 日期控件 -->
<script type="text/javascript" src="@Url.Content("~/Content/public/script/laydate/laydate.dev.js")"></script>
<script>
        var start = {
            elem: '#DrrRule .date_start',
            min: laydate.now(), //设定最小日期为当前日期
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#DrrRule .date_end',
            min: laydate.now(),
            istoday: false,
            choose: function (datas) {
                start.max = datas; //结束日选好后，充值开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
</script>
