@model SAS.Models.Merchant_info

@{
    ViewBag.Title = "用户管理";
    ViewBag.my_user = "set";
    ViewBag.url = "/Bill/QureyBill?hotelId=" + ViewBag.curentHotelId + "&startTime=" + ViewBag.curentstartTime + "&endTime=" + ViewBag.curentendTime + "&page=";
    //酒店列表
    Dictionary<string, string> hotels = ViewData["dates"] as Dictionary<string, string>;

}

 
           

<div id="content" class="box_a">
    <div class="from_path">
        <table cellspacing="0">
            <tbody>
                <tr>
                    <th>用户名</th>
                    <th>公寓权限</th>
                    <th>模块权限</th>
                    <th>操作</th>
                </tr>
                
                @foreach (var m in Model.List_Mer)
                {
                        <!-- 表格数据 -->
                 <tr>
                    <td>@m.name</td>
                    <td>@m.limitHotelName</td>
                    <td>@m.limitName</td>
                    <td>
                        <a href="/user/update?id=@m.id">修改</a>&#124;<a href="/user/remove?id=@m.id">删除</a>
                    </td>
                 </tr>
        
                }
                @if(Model.List_Mer.Count()==0)
                {
                <!-- 没有数据 -->
                <tr>
                    <td colspan="4">没有用户</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
@using (Html.BeginForm("CreateUser", "user", FormMethod.Post))
{
    <div id="editor_user" class="from_path">
        <span class="btn_d set">创建用户</span>
        <div class="box_b">
            <!-- 隐藏input -->
            <input type="text" class="hide">
            <input type="text" class="hide">
            <input type="text" class="hide">

            <p class="input_line">
                <label>
                    <span class="label">真实姓名</span>
                    <input id="input_user_name" type="text" name="@Html.DisplayNameFor(model =>model.name)" class="w150" value="@Model.name">
                    <span class="col_red">*</span>
                </label>
                <label>
                    <span class="label">登录密码</span>
                    <input id="input_user_password" type="password"  name="@Html.DisplayNameFor(model => model.password)" class="w150 hide" value="@(Model.password == "" ||Model.password==null? "" : "******")">
                    <input type="text" class="show_password_input col_gray" value="6至18位字符">
                    <span class="col_red">*</span>
                </label>
                <label>
                    <span class="label">确认登录密码</span>
                    <input id="input_user_password_checkin" class="hide" type="password"  name="@Html.DisplayNameFor(model =>   model.password)"  class="w150" value="@(Model.password == "" ||Model.password==null? "" : "******")">
                    <input type="text" class="show_password_input col_gray" value="再次输入密码">
                    <span class="col_red">*</span>
                </label>
            </p>
            <p class="input_line">
                <label>
                    <span class="label">电话号码</span>
                    <input id="user_phone" type="text" class="only_integer w150" name="@Html.DisplayNameFor(model =>  model.tel)" value="@Model.tel">
                    <span class="col_red">*</span>
                </label>
                <span class="label">短信接收时间</span>
                <select class="w150" name="@Html.DisplayNameFor(model =>model.startTime)">
                    
                        @for (int i = 0; i < 24; i++)
                        {
                           <option value="@i" @( Model.startTime == i.ToString()? "selected" : "")>@Convert.ToInt32(i)</option>
                    }
                </select>
                <span>到</span>
                <select class="w150" name="@Html.DisplayNameFor(model => model.endTime)">
                    @for (int i = 0; i < 24; i++)
                        {
                            <option value="@i" @( Model.endTime == i.ToString()? "selected" : "")>@Convert.ToInt32(i)</option>
                    }
                </select>

                <span class="col_red">*</span>
            </p>
            <p class="input_line">
                <span class="label">性别</span>
                <label><input type="radio" @((Model.Sex == "" || Model.Sex == "0" || Model.Sex == null)? "checked" : "" ) name="@Html.DisplayNameFor(model => model.Sex)" value="0"><span>男</span></label>
                <label><input type="radio" @(Model.Sex == "1"?"checked":"") name="@Html.DisplayNameFor(model => model.Sex)" value="1"><span>女</span></label>
            </p>
              @if(!Model.admin)
              {
            <div class="clear">
                <div class="float_l">
                    <p class="input_line">
                        <span class="label">公寓权限</span>
                    </p>
                </div>
                    <div class="float_l checkbox_box">
                    <p class="input_line"><a class="all_set" href="">全选</a><a class="reverse_set" href="">反选</a></p>
                    <!-- 公寓权限input -->
                    <input class="hide multiple_values" type="text" name="@Html.DisplayNameFor(model => model.limitHotelId)" value="@Model.limitHotelId">
                    <input class="hide multiple_texts" type="text" name="@Html.DisplayNameFor(model => model.limitHotelName)" value="@Model.limitHotelName">
                    <p class="input_line">
                        <!-- 列出公寓 -->
                        @foreach (var h in Model.List_hotel)
                        {
                          <label class="w_sn">
                            <input class="multiple2" type="checkbox" name="h" value="@h.hotel_id")><span title="@h.h_name_cn">@h.h_name_cn</span>
                         </label>
                        }
                    </p>
                </div>
            </div>
            <div class="clear">
                <div class="float_l">
                    <p class="input_line">
                        <span class="label">操作权限</span>
                    </p>
                </div>
                <div class="float_l checkbox_box">
                    <p class="input_line"><a class="all_set" href="">全选</a><a class="reverse_set" href="">反选</a></p>
                    <!-- 操作权限input -->
                    <input class="hide multiple_values" type="text" name="@Html.DisplayNameFor(model => model.limit)" value="@Model.limit">
                    <input class="hide multiple_texts" type="text" name="@Html.DisplayNameFor(model => model.limitName)" value="@Model.limitName">
                    <p class="input_line">
                        @foreach (var m in Model.List_Menu)
                        {
                             <!-- 列出操作 -->
                        <label class="w_sn">
                            <input class="multiple2" type="checkbox" name="c" value="@m.id"><span title="@m.title">@m.title</span>
                        </label>
                        }
                    </p>
                </div>
            </div>  
              }

             <a href="javascript:document.forms[0].submit()" class="btn_b  checking_btn" id="btn_add_user">添加</a>
        </div>
        
    </div>
       <input id="map_lon_input" class="hide" type="text" name="@Html.DisplayNameFor(model => model.id)" value="@Model.id">     
}    
</div>
<input type="text" id="word_failure" value="@ViewBag.sign">

	
			

<!-- 日期控件 -->
<script type="text/javascript" src="@Url.Content("~/Content/public/script/laydate/laydate.dev.js")"></script>